@use '../abstracts/' as *;

.modal {       
    
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    align-items: top;
    justify-items: center;

    z-index: 1010;

    display: none;

    animation: fadeInAnimation ease-in .2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;    
    
    transition:  all .3s ease;

    &__content {
        background-color: $col-white;
        min-width: 30em;
        width: max-content;
        height: min-content;
        border-radius: $border-radius;
        box-shadow: $shadow-3;  
        margin-top: 15%;

        position: relative;
        
        transition:  all .3s ease;
        opacity: 1;
        color: $col-text;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1.5rem 2rem;

    }

    &__close {
        cursor: pointer;

        position: absolute;        
        top: .8rem;
        right: .6em;

        width: 1.8rem;
        height: 1.8rem;
        transform: translate(1px , 0px);
        fill: $col-text;
        transition: all .1s ease;
        &:hover {
            fill: $col-red;
        }       

    }

    &__title {
        font-size: 2.3rem;
        margin-bottom: .7rem;
    }
    &__question {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
    }
    &__confirmation {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;

        button {
            min-width: 9rem !important;
        }
    }
}