@use '../abstracts/' as *;

.modal {
        
    
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    align-items: top;
    justify-items: center;

    background-color: rgba($col-black, .1); 

    z-index: 101;
    

    // border: 2px dashed red;
    display: none;

    animation: fadeInAnimation ease-in .2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
    
    
    transition:  all .3s ease;

    &__content {
        background-color: $col-white;
        width: 50rem;
        height: 15rem;
        border-radius: $border-radius;
        box-shadow: $shadow-3;  
        margin-top: 15%;
        
        transition:  all .3s ease;
        opacity: 1;
    }
}