@use '../abstracts/' as *;

.modal {       
    
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    align-items: top;
    justify-items: center;

    z-index: 1010;

    display: none;

    animation: fadeInAnimation ease-in .2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;    
    
    transition:  all .3s ease;

    &__content {
        background-color: $col-white;
        min-width: 30em;
        width: max-content;
        height: min-content;
        border-radius: $border-radius;
        box-shadow: $shadow-3;  
        margin-top: 15%;

        position: relative;
        
        transition:  all .3s ease;
        opacity: 1;
        color: $col-text;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1.5rem 2rem;

    }

    &__close {
        cursor: pointer;

        position: absolute;        
        top: .8rem;
        right: .6em;

        width: 1.8rem;
        height: 1.8rem;
        transform: translate(1px , 0px);
        fill: $col-text;
        transition: all .1s ease;
        &:hover {
            fill: $col-red;
        }       

    }

    &__title {
        font-size: 2.3rem;
        margin-bottom: .7rem;
        text-transform: capitalize;
    }
    &__question {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
    }
    &__confirmation {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;

        button {
            min-width: 9rem !important;
        }
    }
}

////////////////////////////////////////////////////////////////////////

:root {
    --modal-img-width: 110rem;
    --modal-img-hight: 72.6rem;
    --modal-image-slide-by: 0;
    --modal-image-slider-transition: .4s;

    @include respond ($bp-largest) { --modal-img-width: 90rem;  --modal-img-hight: 59.4rem; }
    @include respond ($bp-larg)    { --modal-img-width: 70rem;  --modal-img-hight: 46.2rem; }
    @include respond ($bp-medium)  { --modal-img-width: 50rem;  --modal-img-hight: 33rem; }
    @include respond ($bp-small)   { --modal-img-width: 46rem;  --modal-img-hight: 33rem; }
    @include respond ($bp-smaller) { --modal-img-width: 38rem;  --modal-img-hight: 27.75rem; }

}



.img-modal {

    transition: all .5s;
    opacity: 0;
    
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 2000;

    background-color: rgba(#000000, .8);

    display: grid;
    display: none;
    padding: 5.5rem;

    grid-template-columns: 1fr var(--modal-img-width) 1fr;
    grid-template-rows:    1fr var(--modal-img-hight) 1fr;

    justify-content: center;
    align-items: center;

    &__frame {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        border: $col-white .1rem solid;
        border-radius: $border-radius;
        overflow: hidden;
    }
    &__slider {
        display: flex;
        width: max-content;

        transform: translateX(var(--modal-image-slide-by));
        transition: all var(--modal-image-slider-transition)  ease-out;
  
    }
    &__pic {
        object-fit: cover;
        width: var(--modal-img-width);
        height: var(--modal-img-hight);
    }


    &__close {
        cursor: pointer;
        z-index: 501;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        transform: translate(3rem, 0rem);
        align-self: start;
        justify-self: end;
        color: $col-white;
        
        &:hover {
            color: $col-red;
        }

        @include respond ($bp-larg)    { display: none; }
        
    }

    &__right , &__left {
        cursor: grabbing;
        z-index: 500;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        align-self: center;
        background-color: rgba($col-black, .5);
        height: 100%;
        padding: .3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $col-white;
        
        &:hover {
            color: $col-red;
        }
    }

    &__right {
        transform: translateX(-.1rem);
        justify-self: end;
        border-bottom-right-radius: $border-radius;
        border-top-right-radius: $border-radius;
        
    }
    &__left {
        transform: translateX(.1rem);
        justify-self: start;
        border-bottom-left-radius: $border-radius;
        border-top-left-radius: $border-radius;
    }

    &__arrow-icon {
        // border: 1px white solid;
        
        
        fill: currentColor;
        width: 1.8rem;
        height: 1.8rem;
        opacity: .8;
        
        &:hover {
            color: $col-red;
        }
        
    }

    &__dotes {

        display: flex;
        gap: 1rem;

        grid-row: 2 / 3;
        grid-column: 2 / 3;
        align-self: end;
        justify-self: center;
        z-index: 501;
        margin-bottom: 1rem;

        @include respond ($bp-small)    { max-width: 90%; flex-wrap: wrap; justify-content: center;}
    }

    &__dote {
        cursor: pointer;
        width: 1rem;
        height: 1rem;
        fill: rgba($col-white, .5);


    

        &--active {
            fill: rgba($col-red, .5);
        }
    }
}

// #sidemenu {
//     z-index: 0;
// }

