@use '../abstracts/' as *;

.sidemenu {
    background-color: $col-primary;

    background-image: linear-gradient(95deg, lighten($col-primary, 5%) ,$col-primary 50%,  lighten($col-primary, 5%));
    display: inline-block;
    color: lighten($color: $col-gray-4, $amount: 5%);
    border-right: $border-1;
    border-top: $border-1;
    
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    
    padding-top: 1rem;
    transition: all .2s ease;

    width: 5rem;

    top: 5.4rem;
    left: 0;

    z-index: 100;

    @include respond ($bp-medium) { 
        bottom: auto;
        padding-bottom: 2rem;
        border-bottom: $border-1;
    }

    @include respond ($bp-smaller) { 
        top: 5.3rem;
    }
    

    &:hover {
        width: 18.7rem;

        & > .sidemenu__item > .sidemenu__text{
            visibility: visible;
            opacity: 1;            
        }        
    }


    @include respond ($bp-medium) { 
        width: 14.8rem !important; 
        transform: translateX(-100%);
    }

    &__item:link, &__item:visited {
        color: currentColor;
        text-decoration: none;
        display: flex;
        gap: 1rem;
        padding: 1rem 0rem;

        &:hover {
            background-color: $col-hover-2;
            color: $col-white;
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        margin-left: 1.3rem;
        fill: currentColor;        
        stroke-width: 1;
        stroke: currentColor;   
        filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));    
    }

    &__text {        
        visibility: hidden;
        width: 0;
        transition: all .1s ease;
        opacity: 0;  
        
        @include respond ($bp-medium) { 
            visibility: visible;
            width: max-content;    
            opacity: 1;             
         }
    }  
    
    &__line {
        width: 100%;
        background-color:  rgba( $col-black, .5);
        height: 1px;
        margin: 1rem 0;
    }
}