// ----- LAYOUT DIMENTIONS ---------------------------------------------
$overall-width: 892.5;

$layout-width: calc($overall-width / 16) + 0em;
$layout-hight: calc($overall-width / 16 * 1.413) + 0em;


// ----- FONTS VARIABLES -----------------------------------------------

$font-primary: 'Source Sans Pro', sans-serif;
$font-display: 'Poppins', sans-serif;


// ----- COLORS VARIABLES ----------------------------------------------


$col-black: #1B2631;
$col-white: #fff;

// $col-primary-lt: #85929E ;
// $col-primary: #5D6D7E ;
// $col-primary-dk: #283747 ;

// $col-gray: #d4d4d6;
// $col-gray-lt: #fbfafa;
// $col-gray-dk: #ccc;

$col-gray-0: #fbfafa;
$col-gray-1: #d4d4d6;
$col-gray-2: #85929E ;
$col-gray-3: #5D6D7E ;
$col-gray-4: #283747 ;

$col-gray-dk: #ccc;


$col-text: rgba($col-black, .9);


$col-bg-y: #fdffe6 ;
$col-hover-1: #EEF8FF;
$col-hover-2: rgba(rgb(0, 255, 179), 0.2);;

$col-red: #E74C3C;
// $col-red-lt: #F1948A  ;
// $col-red-dk: #943126;
$col-blue-lt: #7263d4;
// $col-blue: #2471A3;
$col-blue: #4f3cc9;;
// $col-blue-dk: #154360 ;
// $col-green: #229954;
// $col-green-dk: #145A32;
// $col-aqua: #1ABC9C;
// $col-aqua-dk: #117864;
// $col-yellow: #F9E79F;
// $col-yellow-dk: #F4D03F;

$border-1:  rgba( $col-black, .5) .1rem solid;
$col-border-1:  rgba( $col-black, .5);


// $color-gray-dark-1: #a09c9a;
// $color-gray-dark-2: #3d3d3f;
// $color-gray-light-1: #d5d5d7;
// $color-gray-light-2: #e9e9e9;
// $color-primary: #a3ccaf;

$col-primary: #7999a7;
$col-primary: #5aceff;
$col-primary: #11A9ED;
$col-primary: #7e9194;
$col-primary: #7cbfd3;
// $col-primary: #4de6b3;

$col-secondary: #ED7E00;
$col-tertiary: #50B012;




// ----- FONTS VARIABLES -----------------------------------------------

// // $shodow-1: .3rem .3rem .5rem  rgba($color-gray-dark-2, $alpha: .3);
// $shadow-2: .2rem .2rem .2rem  rgba($col-gray-4, $alpha: .3);
// // $shodow-3: .1rem .1rem .2rem  rgba($color-gray-dark-2, $alpha: .4);

// Shadows
$shadow-1: 0 2rem 1.7rem -1.7rem rgba($col-black, .8);
$shadow-2: 0 1rem 1rem rgba($col-black,  .1);
$shadow-3: .0rem .5rem 1rem rgba($col-black,  .3);
$shadow-4: 0 1rem 3rem rgba($col-black,  .3);
$shadow-5: .1rem .1rem .1rem rgba($col-white,  .6);
$shadow-6: .1rem .1rem .1rem rgba($col-white,  .7);



$border-radius: .5rem;