@use '../abstracts/' as *;

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: none;




      -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

html {
    box-sizing: border-box;
    font-size: 62.5%;   

    @include respond ($bp-smaller) {
        font-size: 55%;
    }

    /* Scrollbars */
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
    scrollbar-color: rgba(90, 90, 90)  rgba(0, 0, 0, 0.01);
    scrollbar-width: 6px;
}


body {
    font-size: 1.6rem;
    font-family: $font-primary;
    height: 100vh;
    
    min-width: 36.36rem;

    /* Scrollbars */
    overflow: auto;
    overflow-y: overlay;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.01);
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(90, 90, 90);
    }
}


main.pages {
    width: calc(100% - 5rem);
    min-height: calc(100vh - 5.5rem);
    // border: 2px dashed crimson;
    margin-left: 5rem;
    padding: 5rem;

    @include respond ($bp-medium) {
        width: 100%;
        margin-left: 0;
    }
}



// --- Page Transition -------------------------------------------------
.pageTransition {
	animation: fadeInAnimation ease-in .5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}


  

.timer {
    position: absolute;
    right: 3rem;
    bottom: 2rem;
    font-family: 'Inconsolata', monospace;
    color: $col-red;
    z-index: 1000;
    text-shadow: $shadow-5;
}

