@use '../abstracts/' as *;

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;   

    @include respond ($bp-smaller) {
        font-size: 55%;
    }
}

body {
    font-size: 1.6rem;
    font-family: $font-primary;
    height: 100vh;
    
    min-width: 36.36rem;

    // overflow-y: scroll; /* Show scrollbars */
    overflow-y: overlay;

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.01);
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(90, 90, 90);
    }
}



main.pages {
    width: calc(100% - 5rem);
    min-height: calc(100vh - 5.5rem);
    // border: 2px dashed crimson;
    margin-left: 5rem;
    padding: 5rem;

    @include respond ($bp-medium) {
        width: 100%;
        margin-left: 0;
    }
}



// --- Page Transition -------------------------------------------------

  
.transition-fade {
    opacity: 1;
    transition: .3s;
}

html.is-animating .transition-fade {
    opacity: 0;
}

html.is-leaving .transition-fade {
    opacity: 0;
}

// --- Spinner ---------------------------------------------------------
    
#spinner {

    position:fixed;
    z-index:9999;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    

    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite, fase-in .2s linear;
}
    

