<!DOCTYPE html>
<html>
    <head>
        <title>Log-in or Sign-up</title>
        <link rel="stylesheet" href="../static/style_sheet.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Assistant&display=swap" rel="stylesheet"> 
    </head>
    <body class="center">
        <div class="cc1" id="signup-login">
            <div id="log-in"><h2>Log-In</h2></div>  
            <div id="sign-up">
                <span class="left">
                <h1 id="signuptext1">Create a New Account</h1>
                <h2 id="signuptext2">It’s quick and easy.</h2><br>
                </span>
                <form action="#">
                    <input type="text" name="first_name" placeholder="First name" id="first_name" class="input">
                    <input type="text" name="last_name" placeholder="Last name" id="last_name" class="input">
                    <input type="text" name="email" placeholder="Email" id="email" class="input">
                    <input type="text" name="password" placeholder="New password" id="password" class="input">
                    <label><h4 id="birthday_text">Birthday</h4>
                        <input type="date" name="birthday" id="birthday" class="input">
                    </label>
                    <label><h4 id="birthday_text">Gender</h4></label>
                    <p id="radio">                    
                        <span class="input" id="male"><input type="radio" name="gender" value="Male"><span id="gtext">Male</span></span>
                        <span class="input" id="female"><input type="radio" name="gender" value="Female"><span id="gtext">Female</span></span>
                        <span class="input" id="other"><input type="radio" name="gender" value="Other"><span id="gtext">Other</span></span> 
                    
                    </p>
                </div>
                </form>                    
        </div>
        <h1>This is the Sign-up and Log-in page!</h1>
    </body>
</html>