<section class="clients">
<form action="#"  class="clients__form">

    <div class="top-pannel">
        <div class="top-pannel__date"><b>CLIENTS</b> List</div>
            
        <div class="top-pannel__buttons">
            <a href="#" class="btn btn--light clients--btn">add new client</a>
            <button class="btn btn--red clients--btn">remove client</button>
        </div>
    </div>
    
    <div class="table__container" id="table-container">

        <table class="table ">
            <thead class="table__thead ">
                <th class="table__th">chk</th>
                <th class="table__th">btn-s</th>
                <th class="table__th">db id</th>
                <th class="table__th">firstname</th>
                <th class="table__th">lastname</th>
                <th class="table__th">ID No</th>
                <th class="table__th">company</th>
                <th class="table__th">client No</th>
                <th class="table__th">phone</th>
                <th class="table__th">mobile</th>
                <th class="table__th">street address</th>
                <th class="table__th">locality</th>
                <th class="table__th">country</th>
                <th class="table__th">postcode</th>
            </thead>
            
            <tbody class="table__tbody">
                <!--  -->
                <tr class="table__tr table__tr--1">

                    <td class="table__td">
                    <label class="checkbox-2" >
                        <input type="checkbox" class="checkbox-2__input">
                        <svg class="checkbox-2__icon checkbox-2__icon--unchecked"><use href="../static/svg/icomoon.svg#icon-checkbox-6"></use></svg>
                        <svg class="checkbox-2__icon checkbox-2__icon--checked"><use href="../static/svg/icomoon.svg#icon-checkbox-3"></use></svg>
                    </label>
                    </td>

                    <td class="table__td">
                        <a href="#" class="icon__link">
                            <svg class="icon__svg"> <use xlink:href="../static/svg/icomoon.svg#icon-pencil-10"></use></svg>
                        </a>
                        <a href="#" class="icon__link">
                            <svg class="icon__svg"> <use xlink:href="../static/svg/icomoon.svg#icon-view-12"></use></svg>
                        </a>
                        <a href="#" class="icon__link">
                            <svg class="icon__svg"> <use xlink:href="../static/svg/icomoon.svg#icon-minus-4"></use></svg>
                        </a>
                    </td>

                    <td class="table__td">1</td>
                    <td class="table__td">Christopher</td>
                    <td class="table__td">Farrugia</td>
                    <td class="table__td">397284m</td>
                    <td class="table__td">foxcode.io</td>
                    <td class="table__td">0123</td>
                    <td class="table__td">79124578</td>
                    <td class="table__td">21875421</td>
                    <td class="table__td">64 'Koala' St Andrew Street</td>
                    <td class="table__td">Birzebbugia</td>
                    <td class="table__td">Malta</td>
                    <td class="table__td">BBG 2232</td>
                </tr>
                <!--  -->
                <tr class="table__tr table__tr--2">

                    <td class="table__td">
                    <label class="checkbox-2" >
                        <input type="checkbox" class="checkbox-2__input">
                        <svg class="checkbox-2__icon checkbox-2__icon--unchecked"><use href="../static/svg/icomoon.svg#icon-checkbox-6"></use></svg>
                        <svg class="checkbox-2__icon checkbox-2__icon--checked"><use href="../static/svg/icomoon.svg#icon-checkbox-3"></use></svg>
                    </label>
                    </td>

                    <td class="table__td">
                        <a href="#" class="icon__link">
                            <svg class="icon__svg"> <use xlink:href="../static/svg/icomoon.svg#icon-pencil-10"></use></svg>
                        </a>
                        <a href="#" class="icon__link">
                            <svg class="icon__svg"> <use xlink:href="../static/svg/icomoon.svg#icon-view-12"></use></svg>
                        </a>
                        <a href="#" class="icon__link">
                            <svg class="icon__svg"> <use xlink:href="../static/svg/icomoon.svg#icon-minus-4"></use></svg>
                        </a>
                    </td>

                    <td class="table__td">2</td>
                    <td class="table__td">Tania</td>
                    <td class="table__td">Cardona</td>
                    <td class="table__td">785612m</td>
                    <td class="table__td">Gauchi Office</td>
                    <td class="table__td">0457</td>
                    <td class="table__td">79189562</td>
                    <td class="table__td">21785612</td>
                    <td class="table__td">92 'Night' St Paul street</td>
                    <td class="table__td">Zebbug</td>
                    <td class="table__td">Malta</td>
                    <td class="table__td">ZBG 0055</td>
                </tr>
                <!--  -->
                <tr class="table__tr table__tr--1">

                    <td class="table__td">
                    <label class="checkbox-2" >
                        <input type="checkbox" class="checkbox-2__input">
                        <svg class="checkbox-2__icon checkbox-2__icon--unchecked"><use href="../static/svg/icomoon.svg#icon-checkbox-6"></use></svg>
                        <svg class="checkbox-2__icon checkbox-2__icon--checked"><use href="../static/svg/icomoon.svg#icon-checkbox-3"></use></svg>
                    </label>
                    </td>

                    <td class="table__td">
                        <a href="#" class="icon__link">
                            <svg class="icon__svg"> <use xlink:href="../static/svg/icomoon.svg#icon-pencil-10"></use></svg>
                        </a>
                        <a href="#" class="icon__link">
                            <svg class="icon__svg"> <use xlink:href="../static/svg/icomoon.svg#icon-view-12"></use></svg>
                        </a>
                        <a href="#" class="icon__link">
                            <svg class="icon__svg"> <use xlink:href="../static/svg/icomoon.svg#icon-minus-4"></use></svg>
                        </a>
                    </td>

                    <td class="table__td">3</td>
                    <td class="table__td">Dorothy</td>
                    <td class="table__td">Cassar</td>
                    <td class="table__td">0145785m</td>
                    <td class="table__td"></td>
                    <td class="table__td">0211</td>
                    <td class="table__td">79784515</td>
                    <td class="table__td">21748596</td>
                    <td class="table__td">74 'Woodland' Poetry street</td>
                    <td class="table__td">Qormi</td>
                    <td class="table__td">Malta</td>
                    <td class="table__td">QRM 0055</td>
                </tr>
                <!--  -->
                <tr class="table__tr table__tr--2">

                    <td class="table__td">
                    <label class="checkbox-2" >
                        <input type="checkbox" class="checkbox-2__input">
                        <svg class="checkbox-2__icon checkbox-2__icon--unchecked"><use href="../static/svg/icomoon.svg#icon-checkbox-6"></use></svg>
                        <svg class="checkbox-2__icon checkbox-2__icon--checked"><use href="../static/svg/icomoon.svg#icon-checkbox-3"></use></svg>
                    </label>
                    </td>

                    <td class="table__td">
                        <a href="#" class="icon__link">
                            <svg class="icon__svg"> <use xlink:href="../static/svg/icomoon.svg#icon-pencil-10"></use></svg>
                        </a>
                        <a href="#" class="icon__link">
                            <svg class="icon__svg"> <use xlink:href="../static/svg/icomoon.svg#icon-view-12"></use></svg>
                        </a>
                        <a href="#" class="icon__link">
                            <svg class="icon__svg"> <use xlink:href="../static/svg/icomoon.svg#icon-minus-4"></use></svg>
                        </a>
                    </td>

                    <td class="table__td">4</td>
                    <td class="table__td">Danine</td>
                    <td class="table__td">Bartolo</td>
                    <td class="table__td">998745m</td>
                    <td class="table__td"></td>
                    <td class="table__td">0021</td>
                    <td class="table__td">99254715</td>
                    <td class="table__td">21784698</td>
                    <td class="table__td">61, St John street </td>
                    <td class="table__td">Valletta</td>
                    <td class="table__td">Malta</td>
                    <td class="table__td">VAL 4512</td>
                </tr>
                <!--  -->
       
            </tbody>
        </table>
    </div>

</form>
</section>


