<section class="client-form">
<form action="#" class="client-form__form">

    <h2 class="client-form__title">Add new <b>Client</b></h2>


    <div class="field__group">
        <label class="field__label" for="title">title</label>
        <div class="field__error">This field is required</div>
        <input type="text" class="field__input" id="title">
    </div>

    <div class="field__group">
        <label class="field__label" for="firstname">firstname</label>
        <div class="field__error">This field is required</div>
        <input type="text" class="field__input" id="firstname">
    </div>

    <div class="field__group">
        <label class="field__label" for="lastname">lastname</label>
        <div class="field__error">This field is required</div>
        <input type="text" class="field__input" id="lastname">
    </div>

    <div class="field__group">
        <label class="field__label" for="id">id</label>
        <div class="field__error">This field is required</div>
        <input type="text" class="field__input" id="id">
    </div>

    <div class="field__group">
        <label class="field__label" for="company">company</label>
        <div class="field__error">This field is required</div>
        <input type="text" class="field__input" id="company">
    </div>

    <div class="field__group">
        <label class="field__label" for="client no">client no</label>
        <div class="field__error">This field is required</div>
        <input type="text" class="field__input" id="client no">
    </div>

    <div class="field__group">
        <label class="field__label" for="phone">phone</label>
        <div class="field__error">This field is required</div>
        <input type="text" class="field__input" id="phone">
    </div>

    <div class="field__group">
        <label class="field__label" for="mobile">mobile</label>
        <div class="field__error">This field is required</div>
        <input type="text" class="field__input" id="mobile">
    </div>

    <div class="field__group">
        <label class="field__label" for="street address">street address</label>
        <div class="field__error">This field is required</div>
        <input type="text" class="field__input" id="street address">
    </div>

    <div class="field__group">
        <label class="field__label" for="locality">locality</label>
        <div class="field__error">This field is required</div>
        <input type="text" class="field__input" id="locality">
    </div>

    <div class="field__group">
        <label class="field__label" for="country">country</label>
        <div class="field__error">This field is required</div>
        <input type="text" class="field__input" id="country">
    </div>

    <div class="field__group">
        <label class="field__label" for="postcode">postcode</label>
        <div class="field__error">This field is required</div>
        <input type="text" class="field__input" id="postcode">
    </div>

    <button class="btn btn--primary btn--thick client-form__btn mt-sm">Add Client</button>



</form>
</section>