<section class="clients">
<form action="#"  class="clients__form">

       <table class="table">
           <thead class="table__thead">
               <th class="table__th">chk</th>
               <th class="table__th">btn-s</th>
               <th class="table__th">db id</th>
               <th class="table__th">firstname</th>
               <th class="table__th">lastname</th>
               <th class="table__th">ID No</th>
               <th class="table__th">company</th>
               <th class="table__th">client No</th>
               <th class="table__th">phone</th>
               <th class="table__th">mobile</th>
               <th class="table__th">street address</th>
               <th class="table__th">locality</th>
               <th class="table__th">country</th>
               <th class="table__th">postcode</th>
           </thead>
           <tbody class="table__tbody">
               <tr class="table__tr table__tb--1">

                   <td class="table__td">
                    <label class="checkbox-2" >
                        <input type="checkbox" class="checkbox-2__input">
                        <svg class="checkbox-2__icon checkbox-2__icon--unchecked"><use href="../static/svg/icomoon.svg#icon-checkbox-6"></use></svg>
                        <svg class="checkbox-2__icon checkbox-2__icon--checked"><use href="../static/svg/icomoon.svg#icon-checkbox-3"></use></svg>
                    </label>
                   </td>

                   <td class="table__td">
                        <a href="#" class="icon__link">
                            <svg class="icon__svg"> <use xlink:href="../static/svg/icomoon.svg#icon-pencil-10"></use></svg>
                        </a>
                        <a href="#" class="icon__link">
                            <svg class="icon__svg"> <use xlink:href="../static/svg/icomoon.svg#icon-view-12"></use></svg>
                        </a>
                        <a href="#" class="icon__link">
                            <svg class="icon__svg"> <use xlink:href="../static/svg/icomoon.svg#icon-minus-4"></use></svg>
                        </a>
                   </td>

                   <td class="table__td">0</td>
                   <td class="table__td">Christopher</td>
                   <td class="table__td">Farrugia</td>
                   <td class="table__td">397284m</td>
                   <td class="table__td">foxcode.io</td>
                   <td class="table__td">0123</td>
                   <td class="table__td">79124578</td>
                   <td class="table__td">21875421</td>
                   <td class="table__td">74 'Woodland' Poetry street</td>
                   <td class="table__td">Qormi</td>
                   <td class="table__td">Malta</td>
                   <td class="table__td">QRM 0012</td>
               </tr>
           </tbody>
       </table>

</form>
</section>


