<section class="project-form">
<form action="#" class="project-form__form">

    <h2 class="project-form__title">Add new <b>Project</b></h2>


    <div class="field__group">
        <label class="field__label" for="project name">project name</label>
        <div class="field__error">This field is required</div>
        <input type="text" class="field__input" id="project name">
    </div>

    <div class="field__group">
        <label class="field__label" for="locality">locality</label>
        <div class="field__error">This field is required</div>
        <input type="text" class="field__input" id="locality">
    </div>

    <div class="field__group">
        <label class="field__label" for="street address">street address</label>
        <div class="field__error">This field is required</div>
        <input type="text" class="field__input" id="street address">
    </div>

    <div class="field__group">
        <label class="field__label" for="client">client</label>
        <div class="field__error">This field is required</div>
        <input type="text" class="field__input" id="client">
    </div>

    <div class="field__group">
        <label class="field__label" for="project no">project no</label>
        <div class="field__error">This field is required</div>
        <input type="text" class="field__input" id="project no">
    </div>

    <div class="field__group">
        <label class="field__label" for="pa no">pa no</label>
        <div class="field__error">This field is required</div>
        <input type="text" class="field__input" id="pa no">
    </div>

    <div class="field__group">
        <label class="field__label" for="status">status</label>
        <div class="field__error">This field is required</div>
        <input type="text" class="field__input" id="status">
    </div>

    <div class="field__group">
        <label class="field__label" for="category">category</label>
        <div class="field__error">This field is required</div>
        <input type="text" class="field__input" id="category">
    </div>

    <div class="field__group">
        <label class="field__label" for="date">date</label>
        <div class="field__error">This field is required</div>
        <input type="text" class="field__input" id="date">
    </div>


    <button class="btn btn--primary btn--thick project-form__btn">Add Client</button>



</form>
</section>