$col-white: #fff; 
$col-black: #000;

$col-gray-1: #333333;

$col-blue-1: #bfcced;
$col-blue-2: #3c64c5;
$col-blue-3: #1041b5;

$col-red-1: #ff5554;
$col-red-2: #b23c3a;

// _____________________________________________________________________

$font-display: 'Montserrat', sans-serif;
$font-main:    'Open Sans', sans-serif;
// _____________________________________________________________________

.mb-tn {margin-bottom: 1rem;}
.mb-sm {margin-bottom: 2rem;}
.mb-md {margin-bottom: 3rem;}
.mb-lg {margin-bottom: 4rem;}
.mb-bg {margin-bottom: 6rem;}
.mb-hg {margin-bottom: 8rem;}

.mt-tn {margin-top: 1rem;}
.mt-sm {margin-top: 2rem;}
.mt-md {margin-top: 3rem;}
.mt-lg {margin-top: 4rem;}
.mt-bg {margin-top: 6rem;}
.mt-hg {margin-top: 8rem;}

.mt-tn-n {margin-top: -1rem;}
.mt-sm-n {margin-top: -2rem;}
.mt-md-n {margin-top: -3rem;}
.mt-lg-n {margin-top: -4rem;}
.mt-bg-n {margin-top: -6rem;}
.mt-hg-n {margin-top: -8rem;}

.mb-tn-n {margin-top: -1rem;}
.mb-sm-n {margin-top: -2rem;}
.mb-md-n {margin-top: -3rem;}
.mb-lg-n {margin-top: -4rem;}
.mb-bg-n {margin-top: -6rem;}
.mb-hg-n {margin-top: -8rem;}

// _____________________________________________________________________




$bp-largest: 75em; //1200
$bp-large:  68.75em; //1100
$bp-big:  58.125em; // 930
$bp-medium:  40em; // 800
$bp-small:  37.5em; // 600
$bp-smallest:  27.5em;
$bp-new-small: 22.5em;