@use '../abstracts/' as *;

.content {

    background-image:   
        linear-gradient( to right bottom,  rgba($col-white, .7),  rgba($col-white, .7)), 
        linear-gradient( to right bottom,  rgba(yellow, .0),  rgba($col-blue, .2)), 
        url(../images/backgrounds/bg2.jpg);

    background-size: cover;
    background-position: center;

        min-height: 100vh;

        min-width: fit-content;
        min-height: 100%;

        position: relative;

    
    // &--2 {
    //     background-image:   
    //     linear-gradient( to right bottom,  rgba($col-white, .7),  rgba($col-white, .7)), 
    //     linear-gradient( to right bottom,  rgba(yellow, .0),  rgba($col-blue, .2)), 
    //     url(../images/backgrounds/bg2.jpg);        
    // }
}


