@use '../abstracts/' as *;



.search  {

    color: $col-text;
    font-family: $font-primary;

    color: $col-text;
    font-family: $font-primary;

    font-size: 1.4rem;
    background-color: $col-white;
    padding: 2rem;
    border-radius: $border-radius;
    border: $border-1;

    max-width: calc(100vw - 15rem);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:   5rem 7.5rem  auto  1fr;
    gap: 2rem;    

    @include respond($bp-medium) {
        max-width: calc(100vw - 10rem);
    }

    // -----------------------------------------------------------------
    
    &__query-form {
        grid-row: 3 / 4;
        grid-column: 1 / -1; 
        // border: solid blueviolet 3px;

        
        gap: 2rem;
        z-index: 21;

        border-bottom: $border-1;
        padding-bottom: 3.5rem;

        @include respond (850) { 
   
            border-bottom: none;
            padding-bottom: 0rem;
            margin-top: 3.5rem;
        }
        @include respond (460) { 
            padding: 2rem 0 0 0;
        }
        
    }
    
    &__btn--1 {

        grid-row: 2 / 3;
        grid-column: -2 / -1;    

        @include respond (821) { 
            grid-row: auto;
            order: 2;
            grid-column: -3 / -1; 
        }

        @include respond (612) { 
            grid-column: -3 / -1; 
        }

        @include respond (460) { 
            grid-column: span 1; 
            grid-row: span 1; 
        }        
    }

    &__btn--2 {

        grid-row: 1 / 2;
        grid-column: -2 / -1;    

        @include respond (821) { 
            grid-row: auto;
            order: 1;
            grid-column: span 2; 
        }

        @include respond (612) { 
            // grid-column: -3 / -1; 
        }

        @include respond (460) { 
            grid-column: span 1; 
            grid-row: span 1; 
        }        
    }

    &__fields {

        width: 100%;
        height: 100%;
        display: grid;
        
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)) 16.5rem;
        grid-auto-flow: dense;
        grid-auto-rows: 1fr;
        gap: 1rem;

        
        @include respond (850) { 
            // height: 70%;
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        }
        @include respond (460) { 
            grid-template-columns: 1fr;
        }
        
    }
    
    &__field {

        font-size: 1.4rem;
        padding: .4rem .6rem;
        border: $border-1;
        border-radius: $border-radius;
        position: relative;
        
        &:focus {
            border-color: $col-gray-4;
            background-color: $col-bg-y;
        }
        
        &--span2 {
            grid-column: span 2;
            
            @include respond (460) { 
                grid-column: span 1;
            }
        }
        &--select {
            padding: 0;
        }
    }

    &__select {
        width: 100%;
        height: 100%;
        display: block;
        
        border: none;
        background: none;
                    
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 5px;
        // padding-left: 5px;
        text-overflow: '';
        // color: $col-active-blue;

        @-moz-document url-prefix() {
            text-indent: 1px;
        }
        
        
        
        &:required:invalid {
            color: rgb(128, 128, 128) !important;
          }
          option[value=""][disabled] {
            display: none !important;
          }
          option {
            color: currentColor;
          }

    }




    &__down-arrow {
        // cursor: pointer;
        width: 2rem;
        height: 2rem;
        align-self: center;
        justify-self: end;
        margin-right: .4rem;
        fill: $col-text;
        position: absolute;
        top: 2px;
        right: 0;
        z-index: 50;
        display: block;
    }

    // -----------------------------------------------------------------
    
    
    &__form {
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        
        display: grid;
        grid-template: subgrid;
        gap: 2rem;         
           
        }
        

    &__tabs {
        display: flex;
        gap: 4rem;
        border-bottom: $border-1;
        
    }
    
    &__tab, &__tab:link, &__tab:visited {
        
        color: $col-text;
        text-decoration: none;
        font-size: 2.3rem;
        font-weight: 600;
        padding: .6rem 0rem;
        cursor: pointer !important;
        
        
    }
    &__tab--active, &__tab--active:link, &__tab--active:visited  {    
        color: $col-active-blue !important;
        border-bottom: .5rem currentColor solid !important;
    }

    &__errors {
        color: $col-red;
       
    }
    
    &__placeholder {
        height: 8rem;
        
        @include respond (1170) { 
            height: 12rem;
        }
        @include respond (1010) { 
            height: 12rem;
        }
        @include respond (850) { 
            height: 18rem;
        }
        @include respond (800) { 
            height: 15rem;
        }
        @include respond (715) { 
            height: 18rem;
        }
        @include respond (567) { 
            height: 25rem;
        }
        @include respond (500) { 
            height: 27rem;
        }

        @include respond (460) { 
            height: 44rem;
        }

        @include respond (414) { 
            height: 42rem;
        }
        @include respond (400) { 
            height: 38rem;
        }
    }
    
    &__hidden { display: none; }
    
}