@use '../abstracts/' as *;
.settings {
    color: $col-text;
    font-family: $font-primary;

    font-size: 1.4rem;
    background-color: $col-white;
    padding: 2rem;
    border-radius: $border-radius;
    border: $border-1;

    margin: 0 auto;
    max-width: calc(80vw - 15rem);

    @include respond($bp-larg) {
        max-width: calc(100vw - 15rem);
    }
    @include respond($bp-medium) {
        max-width: calc(100vw - 10rem);
    }

    &__display {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;    
    }

    &__container {
        display:  flex;
        flex-direction: column;
        border-top: $border-1;
        border-bottom: $border-1;
    }

    &__group {
        cursor: pointer;
        display:  flex;
        padding: 1rem 2rem;
        font-size: 1.6rem;
        align-items: center;

        @include respond(500) {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & > * {
                margin-left: 0 !important;
                margin-right: 0 !important;
                flex: 0 0 min-content !important;
                border: red 1px solid;
                text-align: center !important;
            }

        }
        
       

        &:hover {
            background-color: lighten($col-primary, 20%)
        }

        &:active {
            background-color: lighten($col-hover-2, 3%);
            color: $col-red;

            .settings__link {
                color: $col-red;
            }
        }


        &:not(:last-child) {
            border-bottom: $border-1;
        }

    }

    &__key {
        flex: 0 0 10rem;
        margin-right: auto;
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: capitalize;
        // border: red 1px solid;
    }

    &__value {
        // flex: 0 0 20rem;
        // border: green 1px solid;
    }
    &__link {
        text-transform: capitalize;
        color: $col-active-blue;
        font-size: 1.4rem;
        flex: 0 0 10rem;
        margin-left: auto;
        // border: red 1px solid;
        text-align: right;
        

        &:hover {
            text-decoration: underline;
            color: $col-red;
        }
    }

    &__message {
        padding: .7rem 1.5rem;
        color: $col-red;
    }
}