// Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

// Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Source Sans Pro
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

// Quicksand
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

// Raleway
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding:0;
}

html {
    font-size: 62.5%;
    
    scroll-behavior: smooth;

    @include respond(br_big) {
        font-size:56.25%
    }  
  
    @include respond(br_small) {
    font-size:50%
    }

    @include respond(br_huge) {
    font-size:70.5%
    }

}

body {
    font-size: 1.6rem;
    box-sizing: border-box;
    min-width: 360px;
    font-family: $font-main;
    height: 200vh;




    }

.app {
    padding: var(--page-padding-n);

    @include respond(br_medium) {
        padding: var(--page-padding-s);
    }
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-display;
}