.title {
    &__primary {
        
      font-size: 3.8rem;
      font-family: $font-display;
      font-weight: 200;
      color: $col-black;
      text-transform: uppercase;
      transform: translateX(-.3rem);
    }

    &__text {
        
        font-family: $font-main;
        font-size: 1.6rem;
        opacity: 0.8;
        font-weight: 300;
        line-height: 1.4;
        letter-spacing: 0.8px;
        color: $col-text;
        text-align: justify;
    }
}