/* Customize the label (the container) */
.checkbox {
    display: block;
    position: relative;
    padding-left: 3rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
    font-size: 1.6rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: rgba($col-black, 1);
  
}
  
/* Hide the browser's default checkbox */
.checkbox input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;   

}

/* Create a custom checkbox */
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 2.2rem;
width: 2.2rem;

border-radius: $border-radius;
border: 1px solid $col-gray;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
background-color: #ccc;

}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
background-color: $col-primary-lt;
border: 1px solid $col-primary-lt;

}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
left: .8rem;
top: .4rem;
width: .5rem;
height: 1rem;
border: solid white;
border-width: 0 .3rem .3rem 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}