

.myform {
    &__title {
        font-family: $font-display;
        color: rgba($col-black, .9);
        font-weight: 400;
        font-size: 3rem;
        margin-bottom: 3rem;
        text-transform: capitalize;
    }

    &__error {
        color: crimson;
        font-size: 1.5rem;
        margin-left: .8rem;
        float: right;

    }

    &__flash {
        color: crimson;
        font-size: 1.5rem;
        list-style: none;

    }


    &__group {
        margin-bottom: 2rem;
        width: 100%;
        position: relative;
        @include respond(br_small_medium) {grid-column: 1 / 5 !important;}
    }


    &__input {
        width: 100%;
        margin-top: .5rem;
        border: 1px solid $col-gray;
        height: 3.5rem;
        border-radius: $border-radius;
        color: rgba($col-black, .9);
        font-family: $font-text;
        padding: 1rem;
        background-color: $col-white;

        &--date {
            padding: 0rem .8rem;
        }

        &--select, &--title {
            padding: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        &:focus {
            background-color: $col-bg-y;
            border-color: $col-primary;
            
        }
        // &--content {
        //     // height: 15rem !important;
        // }

        &--title {
            padding-left: .9rem;
        }

        &--images{

            margin: .5rem 0 0 0 ;
            padding: 0;

            &::-webkit-file-upload-button {
                height: 100%;
                border: 1px solid $col-primary;
                color: $col-white;
                background-color: $col-primary;
                border-radius: $border-radius 0 0 $border-radius;
                cursor: pointer;
                width: 11rem;
                
                &:hover {
                    background-color: $col-primary-dk; 
                    outline: none;  
                }
            }
            &::file-selector-button {
                height: 100%;
                border: 1px solid $col-primary;
                color: $col-white;
                background-color: $col-primary;
                border-radius: $border-radius 0 0 $border-radius;
                cursor: pointer;
                width: 11rem;
                
                &:hover {
                    background-color: $col-primary-dk; 
                    outline: none;   
                }                
            }
        }
        
    }

    &__label {
        text-transform: capitalize;
        float: left;
        color: rgba($col-black, .9);
    }

    &__link,
    &__link:link,
    &__link:visited {
        float: right;
        text-decoration: none;
        color: $col-primary;
        margin-left: .8rem;

        &:hover {
            color: $col-primary-dk;
        }
    }

    &__icon {
        &--toggle-password {
            position: absolute;
            bottom: .8rem;
            right: .8rem;
            opacity: .7;
            color: $col-primary;
        }
    }

    &__btn {
        width: 100%;
    }
}

