@use '../abstracts/' as *;

.sign {
        min-height: 100vh;
        // height: 100%;
        min-width: fit-content;
        min-height: 100%;
        background-image:   
            linear-gradient( to right bottom,  rgba($col-white, .85),  rgba($col-white, .85)), 
            linear-gradient( to right bottom,  rgba($col-blue, .3),  rgba($col-blue, .3)), 
            url(../images/backgrounds/bg2.jpg);

        background-size: cover;
        background-position: center;
        padding: 5vw;

        @include respond ($bp-smaller) {
            padding: 2vw;
        }
        

    &__form {
        background-color: rgba($col-white, .9);
        border: 1px solid $col-gray-1;
        padding: 4rem 3rem;    
        border-radius: $border-radius;
        margin: 0 auto;
        max-width: 46rem;
    }


    &__title {
        font-family: $font-display;
        color: $col-text;
        font-weight: 200;
        font-size: 3rem;
        margin-bottom: 3rem;
        // text-transform: capitalize;  

        b { font-weight: 600; text-transform: uppercase;}
        
        @include respond ($bp-smaller) { 
            font-size: 2.7rem;
            margin-bottom: 2rem;
        }
        @include respond ($bp-smallest) { font-size: 2.5rem; }
    }

    &__group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem;
        margin-bottom: 2rem;
    }

    &__label {
        text-transform: capitalize;
        float: left;
        color: $col-text;
    }

    &__error {
        justify-self: end;
        color: $col-red;
    }

    &__input {
        grid-column: 1 / span 2;
        grid-row: 2 / 3;
        
        color: $col-text;
        font-family: $font-primary;
        padding: 1rem;        
        height: 3.5rem;
        border-radius: $border-radius;
        border: 1px solid $col-gray-1;       
        background-color: $col-white;

        &:focus {
            background-color: $col-bg-y;
            border-color: $col-gray-3;                        
        }
    }
    &__icon {
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: center;
        justify-self: end;
        margin-right: .8rem;
        fill: $col-gray-2;
    }

    &__forgot:link, &__forgot:visited {
        cursor: pointer;
        justify-self: end;

        @include link-1;

        @include respond ($bp-smaller) {
            justify-self: start;
        }
    }

    &__text {
        margin-top: 2rem;
        color: $col-text;        

        & > * {margin-top: .7rem}

        a { @include link-1; }

        &--small { font-size: 1.4rem; }

        @include respond ($bp-smaller) { font-size: 1.4rem; }
    }

    &__pair-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.6rem;

        & > * > * { grid-column: 1 / -1;}

        @include respond ($bp-smaller) {
            grid-template-columns: repeat(1, 1fr);
            gap: 0;
        }
    }
}
