{% extends 'main.html' %}
{% from "macro.html" import render_field %}

{% block title %}{% endblock %}

{% block main %}                
<div class="addin">           
    <form   action="{{url_for('my_clients.add_client')}}" method="POST" 
            class="myform addin__layout addin__form" 
            enctype="multipart/form-data" novalidate role="form">

        <h2 class="myform__title addin__title">add client</h2>

        {{ form.csrf_token }}
       
        {{ render_field(form.title, 'title', submitted) }}
        
        {{ render_field(form.firstname, 'firstname', submitted) }}                            
        
        {{ render_field(form.lastname, 'lastname', submitted) }}                            
        
        {{ render_field(form.id_card, 'id_card', submitted) }}                            
        
        {{ render_field(form.company, 'company', submitted) }}                            
        
        {{ render_field(form.filenumber, 'filenumber', submitted) }}                            
        
        {{ render_field(form.phone, 'phone', submitted) }}                            
        
        {{ render_field(form.mobile, 'mobile', submitted) }}                            
        
        {{ render_field(form.email, 'email', submitted) }}                            
        
        {{ render_field(form.street, 'street', submitted) }}                            
        
        {{ render_field(form.city, 'city', submitted) }}                            
        
        {{ render_field(form.country, 'country', submitted) }}                            
        
        {{ render_field(form.postcode, 'postcode', submitted) }}                            
        
        <button class="btn btn--dark myform__btn addin__btn mt-lg" type="submit">add client</button>

    </form>
</div>
{% endblock %}
