{% extends 'main.html' %}
{% from "macro.html" import render_field %}

{% block title %}{% endblock %}

{% block main %}                
<div class="addin">           
    <form   action="{{url_for('my_clients.add_client')}}" method="POST" 
            class="myform addin__layout addin__form" 
            enctype="multipart/form-data" novalidate role="form">

        <h2 class="myform__title addin__title">add client</h2>

        {{ form.csrf_token }}
       
        {{ render_field(form.title, 'title') }}
        
        {{ render_field(form.firstname, 'firstname') }}                            
        
        {{ render_field(form.lastname, 'lastname') }}                            
        
        {{ render_field(form.id_card, 'id_card') }}                            
        
        {{ render_field(form.company, 'company') }}                            
        
        {{ render_field(form.filenumber, 'filenumber') }}                            
        
        {{ render_field(form.phone, 'phone') }}                            
        
        {{ render_field(form.mobile, 'mobile') }}                            
        
        {{ render_field(form.email, 'email') }}                            
        
        {{ render_field(form.street, 'street') }}                            
        
        {{ render_field(form.city, 'city') }}                            
        
        {{ render_field(form.country, 'country') }}                            
        
        {{ render_field(form.postcode, 'postcode') }}  
        
        {{ form.submit(class="btn btn--dark myform__btn addin__btn mt-lg", value="add client") }}
        
        

    </form>
</div>
{% endblock %}
