@use '../abstracts/' as *;


.images {

    &__form {
        display: grid;

        grid-template-rows: repeat(1, max-content);
        grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
        grid-auto-rows: 25.1rem;
        gap: 3rem;
        
        color: $col-text;
        font-family: $font-primary;
    
        font-size: 1.4rem;
        background-color: $col-white;
        padding: 2rem;
        border-radius: $border-radius;
        border: $border-1;
    
        max-width: calc(100vw - 15rem);
    
        @include respond($bp-medium) {
            max-width: calc(100vw - 10rem);
        }
        
    }


    &__upload-box {
        display: flex;
        background-color: $col-hover-1;
        max-width: calc(100vw - 14rem);        
    }

    &__input {
        cursor: ne-resize;
        flex: 1;
        padding:  1rem;
        &::file-selector-button {
            display: none;
        }
        border: lighten( $col-border-1, 40%) 1px solid;
        border-right: none;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
    }

    &__btn {
        cursor: pointer;
        background-color: $col-primary;
        padding: .5rem .7em;
        border: none;
        border: darken($col-primary, 10%) 1px solid;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;

        &:hover {
            background-color: $col-red;
            border: darken($col-red, 10%) 1px solid;
        }

    }

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: $col-white;
    }


}

.image {

    &__frame {
        overflow: hidden;   
        position: relative;
    }

    &__img {
        object-fit: cover;

        width: 100%;
        height: 100%;
        border-radius: $border-radius;
        z-index: 10;

        filter: grayscale(1) contrast(1) brightness(1.3);  
        // mix-blend-mode: luminosity;
        transition: all .1s ease;

        &:hover {
            filter: brightness(1.1) ;   
        }

    }

    &__menu {
        cursor: grabbing;

        position: absolute;        
        top: .6rem;
        right: .6em;
        z-index: 20;

        svg {
            width: 2rem;
            height: 2rem;
            transform: translate(1px , 0px);
            fill: $col-white;
            transition: all .1s ease;
            &:hover {
                fill: $col-red;
            }
        }

        &--close, &--open {
            transition: all .1s ease;
        }

        &--close {
            visibility: hidden;
            opacity: 0;
        }
        
    }

    &__checkbox:checked ~ &__menu  {
        &--open {
            visibility: hidden;
            opacity: 0;
        }
        &--close {
            visibility: visible;
            opacity: 1;
        }
    }

    &__arrow {
        position: absolute;
        top: 90%;
        transform: translateY(-50%);
        padding: .6rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 20;

        &--right, &--left {
            text-decoration: none;
        }

        &--left svg{
            transform: rotate(-90deg);
        }

        &--right svg{
            transform: rotate(90deg);            
        }
        
    }

    &__arrow-icon {
        cursor: grabbing;
        fill: $col-white;
        width: 1.8rem;
        height: 1.8rem;
        opacity: .8;
        
        &:hover {
            fill: $col-red;
        }
        
    }

    &__checkbox {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
    }

    &__checkbox:checked ~ &__dopdownmenu  {
        visibility: visible;
        opacity: 1;
    }

    &__dopdownmenu {
        visibility: hidden;
        transition:  all .1s ease-in;
        opacity: 0;
    }
}



