@use '../abstracts/' as *;

.sign {
    color: $col-text;
    min-height: 100vh;
    min-width: fit-content;
    min-height: 100%;

    background-size: cover;
    background-position: center;
    padding: 5vw;
    padding: 7vw;
    

    @include respond ($bp-smaller) { padding: 2vw; }

    --width-side-img: 30rem;

    @include respond ($bp-larg)   { --width-side-img: 25rem;  }
    @include respond ($bp-medium) { --width-side-img: 15rem;  }
    @include respond (640) { --width-side-img: 0rem;  }
    // @include respond ($bp-larg) { --width-side-img: 25rem;  }

    &__side-img {
        background-color: transparent;
    
        height: 100%;
        width: var(--width-side-img);

        position: absolute;
        top: 0; left: 0;


        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__form {
        background-color: rgba($col-white, .9);
        border: 1px solid $col-gray-1;
        padding: 4rem 3rem 4rem calc(3rem + var(--width-side-img));    
        border-radius: $border-radius;
        margin: 0 auto;
        max-width: calc(46rem + var(--width-side-img));
        // border: red dashed 2px;

        position: relative;
        overflow: hidden;
    }

    &__title {
        font-family: $font-display;
        color: currentColor;
        font-weight: 200;
        font-size: 3rem;
        margin-bottom: 1rem;
        // text-transform: capitalize;  

        b { font-weight: 600; text-transform: uppercase;}
        
        @include respond ($bp-smaller) { 
            font-size: 2.7rem;
            margin-bottom: 2rem;
        }
        @include respond ($bp-smallest) { font-size: 2.5rem; }
    }

    &__icon {
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: center;
        justify-self: end;
        margin-right: .8rem;
        fill: $col-gray-3;
    }

    &__forgot:link, &__forgot:visited {
        cursor: pointer;
        justify-self: end;

        @include link-1;

        @include respond ($bp-smaller) {
            justify-self: start;
            margin-left: 3rem;
            margin-top: -1rem;
        }
    }

    &__text {
        margin-top: 2rem;
        color: currentColor;        

        & > * {margin-top: .7rem}

        a { @include link-1; }

        &--small { font-size: 1.4rem; }

        @include respond ($bp-smaller) { font-size: 1.4rem; }
    }

    &__message {
        padding: .5rem 3rem;
        margin: 0 -2.5rem 1em -2.5rem;
        text-align: center; 
        min-height: 5.4rem;
    }

    &__resend-link {
        @include link-1;
        cursor: pointer;
        z-index: 142;
    }

    &__disclaimer-text {
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 2rem;
    }

    &__btn-group {
        margin-top: 2rem;
        width: 100%;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        gap: 2rem;
    }

    &__disclaimer-bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $col-disclaimer-bg;
    }

    &__transition{
        opacity: 0;
        transition: all .5s ease;
    }
}
