@use '../abstracts/' as *;

.sign {
    color: $col-text;
    min-height: 100vh;
    // height: 100%;
    min-width: fit-content;
    min-height: 100%;
    background-image:   
        linear-gradient( to right bottom,  rgba($col-white, .85),  rgba($col-white, .85)), 
        linear-gradient( to right bottom,  rgba($col-blue, .3),  rgba($col-blue, .3)), 
        url(../images/backgrounds/bg2.jpg);

    background-size: cover;
    background-position: center;
    padding: 5vw;

    @include respond ($bp-smaller) {
        padding: 2vw;
    }

    &__form {
        background-color: rgba($col-white, .9);
        border: 1px solid $col-gray-1;
        padding: 4rem 3rem;    
        border-radius: $border-radius;
        margin: 0 auto;
        max-width: 46rem;
    }

    &__title {
        font-family: $font-display;
        color: currentColor;
        font-weight: 200;
        font-size: 3rem;
        margin-bottom: 1rem;
        // text-transform: capitalize;  

        b { font-weight: 600; text-transform: uppercase;}
        
        @include respond ($bp-smaller) { 
            font-size: 2.7rem;
            margin-bottom: 2rem;
        }
        @include respond ($bp-smallest) { font-size: 2.5rem; }
    }

    &__icon {
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: center;
        justify-self: end;
        margin-right: .8rem;
        fill: $col-gray-2;
    }

    &__forgot:link, &__forgot:visited {
        cursor: pointer;
        justify-self: end;

        @include link-1;

        @include respond ($bp-smaller) {
            justify-self: start;
            margin-left: 3rem;
            margin-top: -1rem;
        }
    }

    &__text {
        margin-top: 2rem;
        color: currentColor;        

        & > * {margin-top: .7rem}

        a { @include link-1; }

        &--small { font-size: 1.4rem; }

        @include respond ($bp-smaller) { font-size: 1.4rem; }
    }

    &__message {
        padding: .5rem 3rem;
        margin: 0 -3rem 1em -3rem;
        text-align: center; 
        min-height: 5.4rem;
    }
}
