
<!-- --------------------------------------------------------------- -->

{% macro render_field(field, fieldname) %}

{% set inputclasses = "myform__input " + "myform__input--" ~ fieldname %}
{% set groupclasses = "myform__group " + "addin__group--"  ~ fieldname %}

<div class="{{groupclasses}}">
    {{ field.label( class="myform__label" ) }}
    {% if field.errors %} 
        <span class="myform__error">{% for error in field.errors %} {{error}} {% endfor %}</span>
    {% endif %}

    {{ field( class=inputclasses )}} 
</div>

{% endmacro %}

<!-- --------------------------------------------------------------- -->

{% macro render_error_message(field) %}

    {% if field.errors %}
    <span class="myform__error">{% for error in field.errors %} {{error}} {% endfor %}</span>
    {% endif %}

{% endmacro %}

<!-- --------------------------------------------------------------- -->


