
<!-- --------------------------------------------------------------- -->

{% macro render_field(field, fieldname, edit) %}

{% set inputclasses = "myform__input " + "myform__input--" ~ fieldname %}
{% set groupclasses = "myform__group " + "addin__group--"  ~ fieldname %}


<div class="{{groupclasses}}">
    {{ field.label( class="myform__label", for=fieldname)  }} 

    {% if fieldname in ['name', 'address', 'locality', 'firstname', 'lastname', 'id_card', 'street', 'city', 'country'] %}
    <span style="color: crimson;">&nbsp;*<span>
    {% endif %}
    
    {% if field.errors %} 
        <span class="myform__error">{% for error in field.errors %} {{error}} {% endfor %}</span>
    {% endif %}

    {{ field( class=inputclasses, value=edit)}} 
</div>

{% endmacro %}

<!-- --------------------------------------------------------------- -->

{% macro render_error_message(field) %}

    {% if field.errors %}
    <span class="myform__error">{% for error in field.errors %} {{error}} {% endfor %}</span>
    {% endif %}

{% endmacro %}

<!-- --------------------------------------------------------------- -->


