<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" type="text/css" href="../static/styles/css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <title>All Projects</title>
</head>
<body>
    <div class="body__layout">
        <nav class="nav">
            <div class="nav__layout">

                <div class="nav__logo">myAdmin</div>

                <div class="nav__main">
                    <a href="" class="nav__link"><i class="fas fa-comment"></i></a>
                    <a href="" class="nav__link"><i class="far fa-bell"></i></a>
                </div>

                <div class="nav__admin">
                    <i class="fas fa-user"></i>
                    <p>Joseph Falzon</p>
                    <i class="fas fa-sort-down mt-tn-n"></i>
                </div>
            </div>
        </nav>
    
        <aside class="sidebar">
            <div class="sidebar__layout">
                test sidebar
            </div>
        </aside>
    
        <main class="main">
            <div class="main__layouts">
                test main
            </div>
        </main>
    </div>
</body>
</html>