<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" type="text/css" href="../static/styles/css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <title>All Projects</title>
</head>
<body>
    <div class="body__layout">
        <nav class="nav">
            <div class="nav__layout">

                <div class="nav__logo">myAdmin</div>

                <div class="nav__main">
                    <a href="" class="nav__link"><i class="fas fa-comment"></i></a>
                    <a href="" class="nav__link"><i class="far fa-bell"></i></a>
                </div>


                <input type="checkbox" checked class="dropdown--user--toggle">
                <div class="dropdown dropdown--user">
                    <ul class="dropdown__list">
                        <li class="dropdown__item"><i class="fas fa-cog"></i></i><a href="#">Settings</a></li>
                        <li class="dropdown__item"><i class="far fa-user"></i><a href="#">Profile</a></li>
                        <li class="dropdown__item"><i class="fas fa-power-off"></i><a href="#">Logout</a></li>
                    </ul>
                </div> 
                <div class="nav__user">
                    <i class="fas fa-user"></i>
                    <p>Joseph Falzon</p>
                    <i class="fas fa-sort-down mt-tn-n"></i>                    
                </div>


                
            </div>
        </nav>
    
        <aside class="sidebar">
            <div class="sidebar__layout">
                test sidebar
            </div>
        </aside>
    
        <main class="main">
            <div class="main__layouts">
                test main
            </div>
        </main>
    </div>
</body>
</html>