{% extends 'base.html' %}

{% block title %}
    Sign In
{% endblock %}

{% block body %}

<div class="login">
    <div class="login__layout">
        

        <form action="#" method="POST" class="myform login__form">

            <h2 class="myform__title">Welcome to myAdmin</h2>

            <div class="myform__group myform__group--1">
                <label for="email" class="myform__label">email</label>
                <input type="text" name="email" class="myform__input">                    
            </div>

            <div class="myform__group myform__group--2">
                <label for="password" class="myform__label">password</label>
                <a href="#" class="myform__link">Forgot your password?</a>
                <input type="password" name="password" class="myform__input" id="password-field">  

                <span toggle="#password-field"  id="toggle-password"
                class="fa fa-fw fa-eye-slash myform__icon--toggle-password"></span>
            </div>

            <label class="checkbox mb-lg">Remember this device
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>

            <button class="btn btn--dark myform__btn" >sign in</button>

        </form>

    </div>
</div>

{% endblock %}
