@use '../abstracts/' as *;

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;   

    @include respond ($bp-smaller) {
        font-size: 55%;
    }
}

body {
    font-size: 1.6rem;
    font-family: $font-primary;
    height: 100vh;
    
    min-width: 36.36rem;
}

main.pages {
    width: calc(100% - 5rem);
    min-height: calc(100vh - 5.5rem);
    // border: 2px dashed crimson;
    margin-left: 5rem;
    padding: 5rem;

    @include respond ($bp-medium) {
        width: 100%;
        margin-left: 0;
    }
}