.btn {

    cursor: pointer;
    
    letter-spacing: 1px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.4rem;  
    font-size: 1.6rem;  
    font-family: $font-display;
    border: none;
    border-radius: $btn-br;


    transition: all 0.3s ease-in-out;

    &:hover {
        transform: translateY(-3px);
    }

    &:active {
        transform: translateY(-2px);
    }

    &:focus {
        border-radius: none;
        outline: none;
    }

    &--white {
        background-color: rgba($btn-bg-light, .7);
        border: 1px solid rgba($btn-bg-light, .0);
        color: $btn-bg-dark;

        &:hover {
            background-color: transparent;
            color: $btn-bg-light;
            border: 1px solid $btn-bg-light;
            box-shadow: $shadow-3; 
        }
    }
    &--black {
        background-color: rgba($btn-bg-dark, .7);
        border: 1px solid rgba($btn-bg-dark, .0);
        color: $btn-bg-light;

        &:hover {
            background-color: transparent;
            color: $btn-bg-dark;
            border: 1px solid rgba($btn-bg-dark, .8);
            box-shadow: $shadow-2; 
        }
    }
}