@use '../abstracts/' as *;

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: none;

    // -ms-overflow-style: none;
    // scrollbar-width: none; /* Firefox */
}

html {
    box-sizing: border-box;
    font-size: 62.5%;   

    @include respond (824) {
        font-size: 55%;
    }

    /* Scrollbars */
    // -ms-overflow-style: none;
    // scrollbar-width: none; /* Firefox */
    // scrollbar-color: rgba(90, 90, 90)  rgba(0, 0, 0, 0.01);
    // scrollbar-width: 6px;
}

body {
    font-size: 1.6rem;
    font-family: $font-text;
    height: 100vh;
    
    min-width: 80.9rem;

    background-color: $col-light;

    padding: 2rem;


	// @include respond ($bp-large) { 
    // padding: 4rem;
    // };

    /* Scrollbars */
    // overflow: auto;
    // overflow-y: overlay;

    // &::-webkit-scrollbar {
    //     width: 6px;
    //     height: 6px;
    // }
    // &::-webkit-scrollbar-track {
    //     background: rgba(0, 0, 0, 0.01);
    // }
    // &::-webkit-scrollbar-thumb {
    //     background: rgba(90, 90, 90);
    // }
}







