*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; 
  // touch-action: none !important;
  
  
}

html {
    font-size: 62.5%;

    // touch-action: none !important;
    scroll-behavior: smooth;

  }
    
body {
    box-sizing: border-box;
    padding: .7rem;
    position: relative;       
    min-width: 36rem;
}

@media screen and (max-width: 900px) {   

  body {
    padding: .3rem;
  }
}