// Grid
$grid-width: 114rem;
$gutter-vert: 8rem;
$gutter-horz: 6rem;

// Font-Size 
$font-def: 1.6rem;

// Colors 
$col-wht: #fff; 
$col-blk: #000;

$col-gry-1: #333333;

$col-blue-1: #bfcced;
$col-blue-2: #3c64c5;
$col-blue-3: #1041b5;

$col-red-1: #ff5554;
$col-red-2: #b23c3a;

// Shadows 

// Border-Radius