// --- colors

$col-primary: #2E4681;
$col-secondary: lighten(#FF6663, 0%);
$col-tertiary: #E0FF4F;
// $col-tertiary-2: #d5fd24;

$col-light: #cfd9f4;
$col-light-2: #F2F4FA;
$col-dark: #1F212E;

$col-white: #fff;


// --- fonts

$font-text: 'Source Sans Pro', sans-serif;
$font-display: 'Poppins', sans-serif;

// --- others

$border-radius: .3rem;




// --- shadows

$shadow-1: 0 2rem 1.7rem -1.7rem rgba($col-dark, .8);
$shadow-2: 0 1rem 1rem rgba($col-dark,  .1);
$shadow-3: .0rem .5rem 1rem rgba($col-dark,  .3);
$shadow-4:  -.1rem    .7rem 1.5rem rgba($col-dark,  .5);
$shadow-5: .1rem .1rem .1rem rgba($col-white,  .6);
$shadow-6: .1rem .1rem .1rem rgba($col-white,  .7);
$shadow-7: 0 1rem 3rem rgb($col-white, .35);
$shadow-8: .0rem .3rem .5rem rgba($col-dark,  .15);
$shadow-9: 0 2rem 1.7rem -1.7rem rgba(rgb(9, 2, 59), .2);



