@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

#fader.fade-in {
  opacity: 1;
  animation-name: fade-in;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* Firefox */
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* Scrollbars */
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* Firefox */
  scrollbar-color: #5a5a5a rgba(0, 0, 0, 0.01);
  scrollbar-width: 6px;
}
@media only screen and (max-width: 31.25em) {
  html {
    font-size: 55%;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  height: 100vh;
  min-width: 36.36rem;
  /* Scrollbars */
  overflow: auto;
  overflow-y: overlay;
}
body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.01);
}
body::-webkit-scrollbar-thumb {
  background: #5a5a5a;
}

main.pages {
  width: calc(100% - 5rem);
  min-height: calc(100vh - 5.5rem);
  margin-left: 5rem;
  padding: 5rem;
}
@media only screen and (max-width: 50em) {
  main.pages {
    width: 100%;
    margin-left: 0;
  }
}

.pageTransition {
  animation: fadeInAnimation ease-in 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#spinner {
  position: fixed;
  z-index: 9999;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spinAnimation 2s linear infinite, fadeInAnimation 0.2s linear;
}

.mb-tn {
  margin-bottom: 1rem !important;
}

.mb-sm {
  margin-bottom: 2rem !important;
}

.mb-md {
  margin-bottom: 3rem !important;
}

.mb-lg {
  margin-bottom: 4rem !important;
}

.mb-bg {
  margin-bottom: 6rem !important;
}

.mb-hg {
  margin-bottom: 8rem !important;
}

.mt-tn {
  margin-top: 1rem !important;
}

.mt-sm {
  margin-top: 2rem !important;
}

.mt-md {
  margin-top: 3rem !important;
}

.mt-lg {
  margin-top: 4rem !important;
}

.mt-bg {
  margin-top: 6rem !important;
}

.mt-hg {
  margin-top: 8rem !important;
}

.mt-tn-n {
  margin-top: -1rem !important;
}

.mt-sm-n {
  margin-top: -2rem !important;
}

.mt-md-n {
  margin-top: -3rem !important;
}

.mt-lg-n {
  margin-top: -4rem !important;
}

.mt-bg-n {
  margin-top: -6rem !important;
}

.mt-hg-n {
  margin-top: -8rem !important;
}

.mb-tn-n {
  margin-top: -1rem !important;
}

.mb-sm-n {
  margin-top: -2rem !important;
}

.mb-md-n {
  margin-top: -3rem !important;
}

.mb-lg-n {
  margin-top: -4rem !important;
}

.mb-bg-n {
  margin-top: -6rem !important;
}

.mb-hg-n {
  margin-top: -8rem !important;
}

.display_none {
  display: none !important;
}

.message {
  animation: fase-in 0.2s ease;
  text-shadow: 2px 2px 2px white;
}
.message__danger {
  background-color: #f8e9ea !important;
}
.message__success {
  background-color: #e6f6e9 !important;
}
.message__primary {
  background-color: #e7f4fa !important;
}
.message__warning {
  background-color: #fdf8e4 !important;
}
.message__none {
  background-color: transparent !important;
}

.btn {
  cursor: pointer;
  letter-spacing: 1px;
  display: inline-block;
  text-transform: capitalize;
  text-decoration: none;
  padding: 0.3rem 1.4rem;
  font-size: 1.4rem;
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 0.5rem;
  border: 1px solid rgba(40, 55, 71, 0);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  transform: translateY(-3px);
}
.btn:active {
  transform: translateY(-2px);
}
.btn:focus {
  border-radius: none;
  outline: none;
}
.btn--100 {
  width: 100%;
}
.btn:hover {
  background-color: transparent;
  color: #283747;
  border: 1px solid rgba(40, 55, 71, 0.8);
  box-shadow: 0 1rem 1rem rgba(27, 38, 49, 0.1);
}
@media only screen and (max-width: 31.25em) {
  .btn {
    padding: 0.2rem 1rem;
  }
}
.btn--thick {
  padding: 0.7rem 1.4rem;
}
@media only screen and (max-width: 31.25em) {
  .btn--thick {
    padding: 0.7rem 1.4rem;
  }
}
.btn--primary {
  background-color: #7cbfd3;
}
.btn--secondary {
  background-color: #ED7E00;
}
.btn--tertiary {
  background-color: #50B012;
}
.btn--red {
  background-color: #E74C3C;
}
.btn--dark {
  background-color: #283747;
}
.btn--currentColor {
  background-color: rgba(27, 38, 49, 0.9);
}
.btn--light {
  background-color: transparent;
  color: #283747;
  border-color: #283747;
}
.btn--light:hover {
  background-color: #283747;
  color: #fff;
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 6rem;
  left: 1rem;
  color: rgba(27, 38, 49, 0.9);
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.2s ease;
  z-index: 100;
}
.menu-btn:hover {
  color: #e74c3c;
}
.menu-btn__line {
  width: 100%;
  height: 1px;
  background-color: currentColor;
}

.checkbox-1__label {
  display: flex;
  align-items: center;
  color: rgba(27, 38, 49, 0.9);
}
.checkbox-1__hidden {
  display: none;
}
.checkbox-1__hidden:checked ~ .checkbox-1__box {
  background-color: #85929E;
  border-color: #85929E;
  color: #fff;
}
.checkbox-1__box {
  cursor: pointer;
  height: 2.1rem;
  width: 2.1rem;
  border-radius: 0.5rem;
  border: 1px solid #d4d4d6;
  margin-right: 0.8rem;
  text-align: center;
  font-size: 1.6rem;
  color: transparent;
}
.checkbox-1__box:hover {
  background-color: #d4d4d6;
}
.checkbox-1__box::after {
  content: "✔";
}

.checkbox-2 {
  cursor: pointer;
}
.checkbox-2__input {
  display: none;
}
.checkbox-2__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem rgba(255, 255, 255, 0.7));
}
.checkbox-2__icon--checked {
  display: none;
}
.checkbox-2__icon:hover {
  fill: #E74C3C;
}
.checkbox-2__input:checked ~ .checkbox-2__icon--checked {
  display: inline-block;
}
.checkbox-2__input:checked ~ .checkbox-2__icon--unchecked {
  display: none;
}

.dropdownmenu {
  background-color: #fff;
  display: inline-block;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 1rem 1rem rgba(27, 38, 49, 0.1);
  z-index: 200;
}
.dropdownmenu--1 {
  position: absolute;
  top: 6rem;
  right: 0.6rem;
}
.dropdownmenu--2 {
  position: absolute;
  top: 3rem;
  right: 0.6rem;
}
.dropdownmenu--2 .dropdownmenu__item {
  padding: 0.8rem 2rem;
}
.dropdownmenu__list {
  list-style: none;
}
.dropdownmenu__item {
  color: rgba(27, 38, 49, 0.9);
  padding: 0.8rem 3rem;
}
.dropdownmenu__item:not(:last-child) {
  border-bottom: rgba(27, 38, 49, 0.1) 0.1rem solid;
}
.dropdownmenu__item:hover {
  background-color: #EEF8FF;
  color: #E74C3C;
}
.dropdownmenu__link:link, .dropdownmenu__link:visited {
  text-decoration: none;
  color: currentColor;
  display: flex;
  text-align: center;
  gap: 0.7rem;
}
.dropdownmenu__icon {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
}

.icon__link:link, .icon__link:visited {
  cursor: pointer;
  text-decoration: none;
  color: currentColor;
}
.icon__svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(255, 255, 255, 0.6);
  filter: drop-shadow(0.1rem 0.1rem 0.1rem rgba(255, 255, 255, 0.7));
}
.icon__svg:hover {
  fill: #E74C3C;
}

.field__group {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.3rem;
  margin-bottom: 2rem;
}
.field__group--textarea {
  grid-column: 1/-1;
}
.field__label {
  text-transform: capitalize;
  float: left;
  color: currentColor;
  font-size: 1.5rem;
  text-shadow: 0 0 1rem white;
}
.field__error {
  justify-self: end;
  color: #E74C3C;
  font-size: 1.5rem;
  text-shadow: 0 0 0.3rem white;
}
.field__input {
  grid-column: 1/span 2;
  grid-row: 2/3;
  color: currentColor;
  font-family: "Source Sans Pro", sans-serif;
  padding: 1rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid #d4d4d6;
  background-color: #fff;
}
.field__input--select {
  padding: 0 0.7rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.field__input::-webkit-calendar-picker-indicator {
  display: none !important;
}
.field__input:focus {
  background-color: #fdffe6;
  border-color: #5D6D7E;
}
.field__pair-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}
.field__pair-group > * > * {
  grid-column: 1/-1;
}
@media only screen and (max-width: 31.25em) {
  .field__pair-group {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
}
.field__down-arrow {
  width: 2rem;
  height: 2rem;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  justify-self: end;
  margin-right: 0.4rem;
  fill: rgba(27, 38, 49, 0.9);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: top;
  justify-items: center;
  z-index: 101;
  display: none;
  animation: fadeInAnimation ease-in 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition: all 0.3s ease;
}
.modal__content {
  background-color: #fff;
  min-width: 30em;
  width: max-content;
  height: min-content;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.5rem 1rem rgba(27, 38, 49, 0.3);
  margin-top: 15%;
  position: relative;
  transition: all 0.3s ease;
  opacity: 1;
  color: rgba(27, 38, 49, 0.9);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem 2rem;
}
.modal__close {
  cursor: pointer;
  position: absolute;
  top: 0.8rem;
  right: 0.6em;
  z-index: 20;
  width: 1.8rem;
  height: 1.8rem;
  transform: translate(1px, 0px);
  fill: rgba(27, 38, 49, 0.9);
  transition: all 0.1s ease;
}
.modal__close:hover {
  fill: #E74C3C;
}
.modal__title {
  font-size: 2.3rem;
  margin-bottom: 0.7rem;
}
.modal__question {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
.modal__confirmation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.modal__confirmation button {
  min-width: 9rem !important;
}

.sidemenu {
  background-color: #7cbfd3;
  display: inline-block;
  color: #314457;
  border-right: rgba(27, 38, 49, 0.5) 0.1rem solid;
  border-top: rgba(27, 38, 49, 0.5) 0.1rem solid;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding-top: 1rem;
  transition: all 0.2s ease;
  width: 5rem;
  top: 5.4rem;
  left: 0;
  z-index: 100;
}
@media only screen and (max-width: 50em) {
  .sidemenu {
    bottom: auto;
    padding-bottom: 2rem;
    border-bottom: rgba(27, 38, 49, 0.5) 0.1rem solid;
  }
}
@media only screen and (max-width: 31.25em) {
  .sidemenu {
    top: 5.3rem;
  }
}
.sidemenu:hover {
  width: 18.7rem;
}
.sidemenu:hover > .sidemenu__item > .sidemenu__text {
  visibility: visible;
  opacity: 1;
}
@media only screen and (max-width: 50em) {
  .sidemenu {
    width: 14.8rem !important;
    transform: translateX(-100%);
  }
}
.sidemenu__item:link, .sidemenu__item:visited {
  color: currentColor;
  text-decoration: none;
  display: flex;
  gap: 1rem;
  padding: 1rem 0rem;
}
.sidemenu__item:link:hover, .sidemenu__item:visited:hover {
  background-color: rgba(0, 255, 179, 0.2);
  color: #fff;
}
.sidemenu__icon {
  height: 2rem;
  width: 2rem;
  margin-left: 1.3rem;
  fill: currentColor;
  stroke-width: 1;
  stroke: currentColor;
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
}
.sidemenu__text {
  visibility: hidden;
  width: 0;
  transition: all 0.1s ease;
  opacity: 0;
}
@media only screen and (max-width: 50em) {
  .sidemenu__text {
    visibility: visible;
    width: max-content;
    opacity: 1;
  }
}
.sidemenu__line {
  width: 100%;
  background-color: rgba(27, 38, 49, 0.5);
  height: 1px;
  margin: 1rem 0;
}

.table {
  width: max-content;
  border-collapse: collapse;
  overflow: hidden;
  min-width: 100%;
}
.table__container {
  overflow-x: auto;
}
.table__container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.table__container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.01);
}
.table__container::-webkit-scrollbar-thumb {
  background: #5a5a5a;
}
.table__thead {
  border-bottom: rgba(27, 38, 49, 0.5) 0.1rem solid;
}
.table__th {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 900;
  font-size: 1.2rem;
  text-align: left;
}
.table__th a:link, .table__th a:visited {
  color: currentColor;
  text-decoration: none;
}
.table__th a:link:hover, .table__th a:visited:hover {
  color: #E74C3C;
}
.table__tbody {
  color: currentColor;
  padding-top: 1rem !important;
  margin-top: 1rem !important;
  cursor: move;
}
@supports (cursor: -moz-grab) {
  .table__tbody {
    cursor: grab;
  }
}
.table__tr--1 {
  background-color: #EEF8FF;
}
.table__tr:hover {
  background-color: #c8e4ed;
}
.table__td {
  padding: 0.7rem 2rem;
  scroll-behavior: smooth;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
.table__td .checkbox-2 {
  margin-left: 0.5rem;
}
.table__td > *:not(:first-child) {
  margin-left: 1rem;
}
.table__a {
  cursor: pointer;
}
.table__img {
  height: 4rem;
  width: 7rem;
  object-fit: cover;
}
.table__img:hover {
  border: 1px solid #E74C3C;
}

.top-pannel {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 30rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
@media only screen and (max-width: 50em) {
  .top-pannel {
    grid-template-columns: 1fr;
  }
}
.top-pannel__date, .top-pannel__title {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  color: rgba(27, 38, 49, 0.9);
  font-weight: 200;
  text-transform: capitalize;
}
.top-pannel__date--small, .top-pannel__title--small {
  font-size: 2.3rem;
}
.top-pannel__date b, .top-pannel__title b {
  font-weight: 600;
  text-transform: uppercase;
}
.top-pannel__date span, .top-pannel__title span {
  text-transform: lowercase !important;
}
@media only screen and (max-width: 31.25em) {
  .top-pannel__date, .top-pannel__title {
    font-size: 2.3rem;
  }
}
.top-pannel__buttons {
  display: flex;
  gap: 1rem;
}
.top-pannel__buttons > * {
  flex: 1;
  max-width: 23rem;
}
@media only screen and (max-width: 25em) {
  .top-pannel__buttons {
    flex-wrap: wrap;
  }
  .top-pannel__buttons > * {
    max-width: 2100%;
    flex: 1 0 100%;
  }
}

.topbar {
  width: 100%;
  height: 5.5rem;
  background-color: #fff;
  border-bottom: rgba(27, 38, 49, 0.3) 0.1rem solid;
  color: rgba(27, 38, 49, 0.9);
  display: flex;
}
.topbar > * {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}
.topbar__logobox {
  border-right: rgba(27, 38, 49, 0.1) 0.1rem solid;
  margin-right: auto;
  font-size: 2.2rem;
  font-style: "Poppins", sans-serif;
  padding: 0 5rem;
}
.topbar__logobox:link, .topbar__logobox:visited {
  text-decoration: none;
  color: currentColor;
}
.topbar__logobox img {
  width: 4.7rem;
  height: 4.7rem;
}
.topbar__logobox span {
  font-weight: 300;
}
.topbar__logobox span b {
  font-weight: 700;
}
.topbar__logobox:hover {
  background-color: #EEF8FF;
}
@media only screen and (max-width: 50em) {
  .topbar__logobox {
    padding: 0 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .topbar__logobox {
    border-right: none;
  }
}
@media only screen and (max-width: 25em) {
  .topbar__logobox {
    padding: 0 2rem;
  }
}
.topbar__up-in {
  border-left: rgba(27, 38, 49, 0.1) 0.1rem solid;
  color: rgba(27, 38, 49, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
@media only screen and (max-width: 37.5em) {
  .topbar__up-in {
    border-left: none;
  }
}
.topbar__up-in a:link, .topbar__up-in a:visited {
  color: currentColor;
  text-decoration: none;
}
.topbar__up-in a:link:hover, .topbar__up-in a:visited:hover {
  color: #E74C3C;
}
.topbar__name {
  border-left: rgba(27, 38, 49, 0.1) 0.1rem solid;
  border-right: rgba(27, 38, 49, 0.1) 0.1rem solid;
  flex-direction: column;
  align-items: start;
}
@media only screen and (max-width: 37.5em) {
  .topbar__name {
    border-left: none;
  }
}
@media only screen and (max-width: 25em) {
  .topbar__name {
    padding-left: 0;
  }
}
.topbar__name-upper {
  font-size: 1.6rem;
}
.topbar__name-lower {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: rgba(27, 38, 49, 0.8);
}
.topbar__dropdown {
  cursor: pointer;
}
.topbar__dropdown:hover {
  background-color: #EEF8FF;
}
.topbar__pic {
  width: 3.5rem;
  height: 3.5rem;
  border: rgba(27, 38, 49, 0.1) 0.1rem solid;
  border-radius: 50%;
  background-color: #c88a8b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1px;
}
.topbar__arrow {
  width: 2rem;
  height: 2rem;
}

.cke_editor_editor_body {
  grid-column: 1/-1;
  border-radius: 0.5rem !important;
  box-shadow: none !important;
  border-color: none;
}

.cke_toolbar_break, #cke_18, #cke_31, #cke_46, #cke_25, #cke_26 {
  display: none !important;
}

@media only screen and (max-width: 31.25em) {
  .cke_toolbar_break {
    display: block !important;
  }
}
.cke_top {
  background-color: transparent !important;
  background-color: #fdffe6 !important;
}

.cke_bottom {
  background-color: transparent !important;
  background-color: #fdffe6 !important;
}

.cke_contents {
  border-radius: 0px;
}

.cke_button_icon {
  margin: 0 1rem !important;
}

.ck {
  grid-column: 1/-1;
}
.ck-focused {
  border-color: #5D6D7E !important;
  box-shadow: none !important;
}
.ck p {
  border-radius: 0 0 0.5rem 0.5rem !important;
  box-shadow: none !important;
  margin-left: 2rem;
}
.ck ul, .ck ol {
  margin-left: 2rem;
}

.ck-editor__editable_inline {
  height: 20rem !important;
}

.ck-toolbar {
  width: 100% !important;
  border-radius: 0.5rem 0.5rem 0 0 !important;
}

.ck-toolbar_grouping {
  background-color: transparent !important;
  background-color: #fdffe6 !important;
}

.ck-rounded-corners {
  border-radius: 0 0 0.5rem 0.5rem !important;
}

@media only screen and (max-width: 31.25em) {
  .ck-heading-dropdown {
    display: none !important;
  }

  .ck-toolbar__separator {
    display: none !important;
  }
}
.content {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), linear-gradient(to right bottom, rgba(255, 255, 0, 0), rgba(79, 60, 201, 0.2)), url(../images/backgrounds/bg1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: fit-content;
  min-height: 100%;
  position: relative;
}

.clients, .projects {
  color: rgba(27, 38, 49, 0.9);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  border: rgba(27, 38, 49, 0.5) 0.1rem solid;
  max-width: calc(100vw - 15rem);
}
@media only screen and (max-width: 50em) {
  .clients, .projects {
    max-width: calc(100vw - 10rem);
  }
}
.clients__form, .projects__form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.clients__display {
  display: flex;
  padding-top: 2rem;
}
@media only screen and (max-width: 50em) {
  .clients__display {
    flex-direction: column;
  }
}
.clients__left {
  flex: 0 0 49%;
  margin-right: auto;
  border-top: rgba(27, 38, 49, 0.5) 0.1rem solid;
}
@media only screen and (max-width: 50em) {
  .clients__left {
    flex: 0 0 100%;
    width: 100%;
  }
}
.clients__right {
  flex: 0 0 49%;
  border-top: rgba(27, 38, 49, 0.5) 0.1rem solid;
}
@media only screen and (max-width: 50em) {
  .clients__right {
    flex: 0 0 100%;
    width: 100%;
  }
}
.clients__prifix {
  text-transform: lowercase;
}
.clients__title {
  margin: 0 0 2rem 0;
  padding-top: 0.5rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
.clients__title:not(:first-of-type) {
  border-top: rgba(27, 38, 49, 0.5) 0.1rem solid;
}
.clients__title span {
  border-bottom: rgba(27, 38, 49, 0.5) 0.1rem solid;
  padding-bottom: 0.5rem;
}
.clients__set {
  display: flex;
  margin-bottom: 3rem;
  align-items: center;
  align-content: center;
  height: 2rem;
}
.clients__icon {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 1rem;
  fill: rgba(27, 38, 49, 0.9);
}
.clients__field {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.8rem;
  margin-bottom: 0.1rem;
}
.clients__info {
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: lowercase;
}
.clients__text {
  font-size: 1.4rem;
  font-weight: 300;
}

.project-form__form {
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 62.5em) {
  .project-form__form {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 43.75em) {
  .project-form__form {
    grid-template-columns: 1fr;
  }
}
.project-form__btn {
  margin-top: 0.5rem;
  align-self: center;
}
@media only screen and (max-width: 43.75em) {
  .project-form__btn {
    margin-top: 5rem;
  }
}

.client-form__form {
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 75em) {
  .client-form__form {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 56.25em) {
  .client-form__form {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 37.5em) {
  .client-form__form {
    grid-template-columns: 1fr;
  }
}

.client-form, .project-form {
  color: rgba(27, 38, 49, 0.9);
}
.client-form__form, .project-form__form {
  display: grid;
  grid-auto-flow: dense;
  gap: 3rem;
}
.client-form__title, .project-form__title {
  font-family: "Poppins", sans-serif;
  color: currentColor;
  font-weight: 200;
  font-size: 3rem;
}
.client-form b, .project-form b {
  font-weight: 600;
  text-transform: uppercase;
}
.client-form__title, .project-form__title {
  grid-column: 1/-1;
}
.client-form__btn, .project-form__btn {
  border: 1px solid rgba(107, 140, 173, 0.5);
  grid-column: 1/-1;
}

@media only screen and (max-width: 62.5em) {
  .project-form__btn {
    grid-column: -2/-1;
  }
}
@media only screen and (max-width: 43.75em) {
  .project-form__btn {
    grid-column: 1/-1;
  }
}

.dashboard__form {
  display: grid;
  grid-template-rows: repeat(1, max-content);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-auto-rows: 25.1rem;
  gap: 3rem;
  transform: translateY(-1rem);
}

.frame {
  border-radius: 0.5rem;
  overflow: hidden;
  color: rgba(27, 38, 49, 0.9);
  box-shadow: 0rem 0.5rem 1rem rgba(27, 38, 49, 0.3);
  background-color: #7cbfd3;
}
.frame__img {
  height: 80%;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 1rem 3rem rgba(27, 38, 49, 0.3);
}
.frame__box {
  padding: 1rem;
  height: 20%;
  margin-top: -5px;
  font-size: 1.8rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.8rem;
}
.frame__box > * {
  margin-top: 0.5rem;
}
.frame__name {
  margin-right: auto;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  line-height: 1.8rem;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(255, 255, 255, 0.6);
}
.frame--top {
  text-transform: uppercase;
}
.frame--bot {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.4rem;
}

.group {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto auto auto 1fr;
  gap: 4rem;
  grid-auto-flow: dense;
}
@media only screen and (max-width: 62.5em) {
  .group {
    grid-template-columns: 2fr;
  }
}
.group > * {
  background-color: #fff;
  padding: 2rem 3rem;
  border: rgba(27, 38, 49, 0.5) 0.1rem solid;
  border-radius: 0.5rem;
  color: rgba(27, 38, 49, 0.9);
}
.group__title {
  font-size: 2.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-transform: capitalize;
}
.group__title b {
  font-weight: 600;
}
@media only screen and (max-width: 31.25em) {
  .group__title {
    font-size: 2.3rem;
  }
}
.group__read {
  grid-row: 1/-1;
  min-height: calc(100% - 5rem);
  align-self: start;
}
@media only screen and (max-width: 62.5em) {
  .group__read {
    grid-row: -2/-1;
  }
}
.group__list {
  list-style: none;
  padding-top: 0.7rem;
}
.group__item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem 1rem;
}
.group__item:not(:last-child) {
  border-bottom: rgba(27, 38, 49, 0.3) solid 0.1rem;
}
.group__item p {
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 1.8;
  margin-right: auto;
}
.group__item svg {
  width: 1.3rem;
  height: 1.3rem;
}
.group__item--1 {
  background-color: #EEF8FF;
}
.group__item:hover {
  background-color: white;
}
.group__box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.group__box > * {
  flex: 0 0 10rem;
}
@media only screen and (max-width: 37.5em) {
  .group__box > * {
    flex: 1;
  }
}
.group__input, .group__select {
  flex: 1;
  border: rgba(27, 38, 49, 0.3) solid 0.1rem;
  border-radius: 0.5rem;
  background-color: #EEF8FF;
  padding: 0.2rem 0.8rem;
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(27, 38, 49, 0.9);
  font-size: 1.6rem;
}
.group__input:focus, .group__select:focus {
  border: rgba(27, 38, 49, 0.7) solid 0.1rem;
}
@media only screen and (max-width: 37.5em) {
  .group__input, .group__select {
    flex: 1 0 50%;
  }
}

.images__form {
  display: grid;
  grid-template-rows: repeat(1, max-content);
  grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
  grid-auto-rows: 25.1rem;
  gap: 3rem;
  color: rgba(27, 38, 49, 0.9);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.4rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  border: rgba(27, 38, 49, 0.5) 0.1rem solid;
  max-width: calc(100vw - 15rem);
}
@media only screen and (max-width: 50em) {
  .images__form {
    max-width: calc(100vw - 10rem);
  }
}
.images__upload-box {
  display: flex;
  background-color: #EEF8FF;
}
.images__input {
  cursor: ne-resize;
  flex: 1;
  padding: 1rem;
  border: rgba(107, 140, 173, 0.5) 1px solid;
  border-right: none;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.images__input::file-selector-button {
  display: none;
}
.images__btn {
  cursor: pointer;
  background-color: #7cbfd3;
  padding: 0.5rem 0.7em;
  border: none;
  border: #56acc6 1px solid;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.images__btn:hover {
  background-color: #E74C3C;
  border: #d62c1a 1px solid;
}
.images__icon {
  width: 2rem;
  height: 2rem;
  fill: #fff;
}

.image__frame {
  overflow: hidden;
  position: relative;
}
.image__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  z-index: 10;
  filter: grayscale(1) contrast(1) brightness(1.3);
  transition: all 0.1s ease;
}
.image__img:hover {
  filter: brightness(1.1);
}
.image__menu {
  cursor: grabbing;
  position: absolute;
  top: 0.6rem;
  right: 0.6em;
  z-index: 20;
}
.image__menu svg {
  width: 2rem;
  height: 2rem;
  transform: translate(1px, 0px);
  fill: #fff;
  transition: all 0.1s ease;
}
.image__menu svg:hover {
  fill: #E74C3C;
}
.image__menu--close, .image__menu--open {
  transition: all 0.1s ease;
}
.image__menu--close {
  visibility: hidden;
  opacity: 0;
}
.image__checkbox:checked ~ .image__menu--open {
  visibility: hidden;
  opacity: 0;
}
.image__checkbox:checked ~ .image__menu--close {
  visibility: visible;
  opacity: 1;
}
.image__arrow {
  position: absolute;
  top: 90%;
  transform: translateY(-50%);
  padding: 0.6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 20;
}
.image__arrow--right, .image__arrow--left {
  text-decoration: none;
}
.image__arrow--left svg {
  transform: rotate(-90deg);
}
.image__arrow--right svg {
  transform: rotate(90deg);
}
.image__arrow-icon {
  cursor: grabbing;
  fill: #fff;
  width: 1.8rem;
  height: 1.8rem;
  opacity: 0.8;
}
.image__arrow-icon:hover {
  fill: #E74C3C;
}
.image__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}
.image__checkbox:checked ~ .image__dopdownmenu {
  visibility: visible;
  opacity: 1;
}
.image__dopdownmenu {
  visibility: hidden;
  transition: all 0.1s ease-in;
  opacity: 0;
}

.sign {
  color: rgba(27, 38, 49, 0.9);
  min-height: 100vh;
  min-width: fit-content;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  padding: 5vw;
  padding: 7vw;
  --width-side-img: 30rem;
}
@media only screen and (max-width: 31.25em) {
  .sign {
    padding: 2vw;
  }
}
@media only screen and (max-width: 62.5em) {
  .sign {
    --width-side-img: 25rem;
  }
}
@media only screen and (max-width: 50em) {
  .sign {
    --width-side-img: 15rem;
  }
}
@media only screen and (max-width: 40em) {
  .sign {
    --width-side-img: 0rem;
  }
}
.sign__side-img {
  background-color: transparent;
  height: 100%;
  width: var(--width-side-img);
  position: absolute;
  top: 0;
  left: 0;
}
.sign__side-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.sign__form {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #d4d4d6;
  padding: 4rem 3rem 4rem calc(3rem + var(--width-side-img));
  border-radius: 0.5rem;
  margin: 0 auto;
  max-width: calc(46rem + var(--width-side-img));
  position: relative;
  overflow: hidden;
}
.sign__title {
  font-family: "Poppins", sans-serif;
  color: currentColor;
  font-weight: 200;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.sign__title b {
  font-weight: 600;
  text-transform: uppercase;
}
@media only screen and (max-width: 31.25em) {
  .sign__title {
    font-size: 2.7rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 25em) {
  .sign__title {
    font-size: 2.5rem;
  }
}
.sign__icon {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  justify-self: end;
  margin-right: 0.8rem;
  fill: #5D6D7E;
}
.sign__forgot:link, .sign__forgot:visited {
  cursor: pointer;
  justify-self: end;
  text-decoration: none;
  color: #4f3cc9;
}
.sign__forgot:link:hover, .sign__forgot:visited:hover {
  color: #7263d4;
}
@media only screen and (max-width: 31.25em) {
  .sign__forgot:link, .sign__forgot:visited {
    justify-self: start;
    margin-left: 3rem;
    margin-top: -1rem;
  }
}
.sign__text {
  margin-top: 2rem;
  color: currentColor;
}
.sign__text > * {
  margin-top: 0.7rem;
}
.sign__text a {
  text-decoration: none;
  color: #4f3cc9;
}
.sign__text a:hover {
  color: #7263d4;
}
.sign__text--small {
  font-size: 1.4rem;
}
@media only screen and (max-width: 31.25em) {
  .sign__text {
    font-size: 1.4rem;
  }
}
.sign__message {
  padding: 0.5rem 3rem;
  margin: 0 -2.5rem 1em -2.5rem;
  text-align: center;
  min-height: 5.4rem;
}
.sign__resend-link {
  text-decoration: none;
  color: #4f3cc9;
  cursor: pointer;
}
.sign__resend-link:hover {
  color: #7263d4;
}

/*# sourceMappingURL=style.css.map */
