
.card2 {

    &__scroll {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        // -ms-overflow-style: none;
        // scrollbar-width: none
        color: transparent;
        scrollbar-color: rgba($col-blk, .2) transparent;
        scrollbar-width: thin;
        // scroll-behavior: smooth;
        transition: all 0.1s ease-in-out;
        cursor: grab;
                
        // &::-webkit-scrollbar {
        //     display: none;
        // }      
      }
    
    & {
        display: inline-block;
        width: calc((100% - 3 * #{$gutter-vert}) / 4);
        margin-right: $gutter-vert;       
        margin-top: 3rem;
        margin-bottom: 3rem; 
        height: 30rem;      
        // overflow: hidden;
        position: relative;
        
        &::after {
            content: '';
            width: 100%;
            position: absolute;
            // background-color: rgba(blue, .5);
            height: 25rem;
            top: 2rem;
            left: 0;
            z-index: -1;
            background-color: transparent;

        }
        &:hover::after {
            transform: translateY(-10px);
            box-shadow: $shadow_5;
            background-color: transparent;
        }
    }

    &__shap {
        width: 100%;
        overflow: hidden;  
        height: 25rem;
        transition: all 0.2s ease-in-out;
        margin: 2rem 0 .5rem 0;          
    }

    &:hover &__shap{
        transform: translateY(-10px);
        // box-shadow: $shadow_5;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: $shadow_5;
        filter: sepia(70%);
        transition: all 0.2s ease-in-out;

        outline-offset: 0rem;
        outline: 3px solid rgba($col-wht, .8);      
    }

    &:hover &__img {
        filter: sepia(20%);        
        outline-offset: -2rem;
        transform: scale(1.05);
        
        
    }

    &__text {
   
        font-size: 1.2rem;
        font-family: "open sans";       
        display: inline-block;
        color: $col-gry-1;
        font-weight: 100;
        white-space: pre-line;
        padding: 0;
        text-align: center;
        min-height: 3rem;
        width: 100%;
        margin: 0;
        position: absolute;
        top: 26rem;
        z-index: -10;
        background-color: transparent;

        p {           
            margin: 0;
        }
    }    
}

.active {
    transform: scale(1.01);
    opacity: .9;
    cursor: grab;
}

.arrow {
    position: relative;

    &__next,
    &__prev {
        position: absolute;
        bottom: 17.5rem;
        z-index: 100;
        
        &-btn {
            background-color: transparent;
            border: none;
            color: $col-wht;
            transition: all 0.1s ease;
            cursor: pointer;
            transform: scale(1.5);
            padding: 3px 0px 0 0px;
            
            img{
                width: 20px;                
            }
                    
            &:hover {            
                opacity: .7;
                background-color: black;
            }            
        }
    }

    &__next {
        right: .6rem;
    }
    &__prev {
        left: .6rem;
        transform: rotate(180deg);
    }
}


@media screen and (max-width: 900px) {
    .card2 {
        width: calc((100% - 1 * #{$gutter-vert}) / 2);
    }

}

@media screen and (max-width: 450px) {
    .card2 {
        width: calc((100% - 0 * #{$gutter-vert}) / 1);
    }

}