@use '../abstracts/' as *;

.btn {
    cursor: pointer;
    
    letter-spacing: 1px;
    display: inline-block;
    text-transform: capitalize;
    text-decoration: none;
    padding: .3rem 1.4rem;  
    font-size: 1.4rem;  
    font-family: $font-primary;
    border-radius: $border-radius;

    border: 1px solid rgba($col-gray-4, .0);
    color: $col-white;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.2s ease-in-out;

    &:hover  { transform: translateY(-3px); }

    &:active { transform: translateY(-2px); }

    &:focus {  border-radius: none; outline: none;}

    &--100 { width: 100%; }

    &:hover {
        background-color: transparent;
        color: $col-gray-4;
        border: 1px solid rgba($col-gray-4, .8);
        box-shadow: $shadow-2; 
    }
    
    @include respond ($bp-smaller) { padding: .2rem 1rem;  }

    &--thick { 
        padding: .7rem 1.4rem;
        @include respond ($bp-smaller) { padding: .7rem 1.4rem;  }
     }

    &--primary { background-color: $col-primary; }

    &--secondary { background-color: $col-secondary;  }

    &--tertiary { background-color: $col-tertiary; }

    &--red { background-color: $col-red;  }

    &--dark { background-color: $col-gray-4;  }

    &--light { 
        background-color: transparent; 
        color: $col-gray-4;
        border-color: $col-gray-4;

        &:hover {
            background-color: $col-gray-4; 
            color: $col-white;
        }
     }
}

.menu-btn{
    cursor: pointer;
    position: absolute;
    top: 6rem;
    left: 1rem;

    color: rgba($col-text, .9);

    width: 2.2rem;
    height: 2.2rem;


    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: .5rem;
    transition: all .2s ease;

    &:hover {
        color: rgba($col-red, 1);
    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: currentColor;        
    }
}