@use '../abstracts/' as *;


.table {

    cursor: grab;

    width: max-content;
    border-collapse: collapse;
    overflow: hidden;

    &__container {
        overflow-x:auto;
    }  

    &__thead {
        border-bottom: $border-1;               
    }

    &__th {
        padding: 1rem 2rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        font-weight: 900;
        font-size: 1.2rem;
        text-align: left;
        
    }
    &__tbody {
        color: currentColor;
        padding-top: 1rem !important;
        margin-top: 1rem !important;
    }

    &__tr {
        &--1 {background-color: $col-hover-1;}
        &:hover {background-color: lighten($col-primary, 40%)}
    }
    &__td {
        padding: .7rem 2rem;
        & .checkbox-2 {margin-left: .5rem;}
        & > * { &:not(:first-child) { margin-left: 1rem; }}


        scroll-behavior: smooth;

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
    }

    &__a {
        cursor: pointer;
    }

    &__img {
        height: 4rem;
        width: 7rem;
        object-fit: cover;

        &:hover {
            border: 1px solid $col-red;
        }
    }
}
