@use '../abstracts/' as *;

.mb-tn {margin-bottom: 1rem !important;}
.mb-sm {margin-bottom: 2rem !important;}
.mb-md {margin-bottom: 3rem !important;}
.mb-lg {margin-bottom: 4rem  !important;}
.mb-bg {margin-bottom: 6rem !important;}
.mb-hg {margin-bottom: 8rem !important;}

.mt-tn {margin-top: 1rem !important;}
.mt-sm {margin-top: 2rem !important;}
.mt-md {margin-top: 3rem !important;}
.mt-lg {margin-top: 4rem !important;}
.mt-bg {margin-top: 6rem !important;}
.mt-hg {margin-top: 8rem !important;}

.mt-tn-n {margin-top: -1rem !important;}
.mt-sm-n {margin-top: -2rem !important;}
.mt-md-n {margin-top: -3rem !important;}
.mt-lg-n {margin-top: -4rem !important;}
.mt-bg-n {margin-top: -6rem !important;}
.mt-hg-n {margin-top: -8rem !important;}

.mb-tn-n {margin-top: -1rem !important;}
.mb-sm-n {margin-top: -2rem !important;}
.mb-md-n {margin-top: -3rem !important;}
.mb-lg-n {margin-top: -4rem !important;}
.mb-bg-n {margin-top: -6rem !important;}
.mb-hg-n {margin-top: -8rem !important;}

// _____________________________________________________________________

.display_none { display: none !important;}