.nav {

    height: 5rem;

    background-color: $col-primary;
    border-bottom: 1px solid $col-primary-dk;

    z-index: 100;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: $shadow-6;
    


    &__layout {

        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
    }

    &__logo {
        font-family: $font-display;
        margin-left: 2rem;
        font-size: 2rem;
        color: $col-white;
    }

    &__main {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: flex-end;
        flex: 1;
        padding-right: 3rem;
        color: $col-white;

        a {
            margin-left: 1rem;
            color: $col-white;
        }

    }
    &__link:link, &__link:visited {
        color: $col-white;
        padding: .3rem .7rem;
        width: 3rem;
        &:hover {            
            background-color: rgba($col-white, .1);
            border: 1px rgba($col-bg-y, .5) solid;
            border-radius: 2rem;     
        }
    }

    &__user {
        
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-evenly;
        border-left: 1px solid rgba($col-gray, .5);
        width: 20rem;
        color: $col-white;
        transition: background-color .2s ease;
        // background-color: $col-bg-b;

        &:hover {
            background-color: $col-bg-b;
        }        
    }
}
.dropdown--user--toggle:hover ~ div {
    background-color: $col-primary-dk;
}
.dropdown {
    background-color: $col-white !important;
    color: $col-primary;   
    z-index: 0; 
    border-radius: 0 0 5px 5px;
    box-shadow: $shadow-6;

    &--user--toggle:checked + &--user{
        display: none;        
    }
    &--user {        
        position: absolute;
        bottom: 0;
        width: 20rem;
        right: 0;   
        transform: translateY(100%);        
        display: block;

        &--toggle {
            position: absolute; 
            bottom: 0;
            right: 0; 
            width: 20rem;
            height: 100rem;
            opacity: 5;
            cursor: pointer;
            z-index: 12;
            

        }
    }    
    &__list {
        list-style: none;
        border-top: 1px solid  $col-primary-dk;                    
    }

    &__item {
        padding: 1.5rem 2rem;
        border-bottom: 1px solid  rgba($col-gray, .5);
        border-left: 1px solid  rgba($col-gray, .5);
        background-color: inherit;
        transition: background-color .2s ease;

        &:hover {
            background-color: $col-bg-b !important;
        }

        &:last-child {
            border-radius: 0 0 5px 5px;
        }
        a:visited, a:link {
            cursor: pointer;
            color: $col-primary;
            text-decoration: none;
        }
        i {
            margin-right: 2rem;
        }
    }
}

