{% extends 'main.html' %}


{% block title %}{% endblock %}

{% block main %}                
                
<div class="projects">
    <div class="projects__row">
        <div class="projects__item projects__item--header projects__item--header--checkbox"><input type="checkbox"></div>
        <div class="projects__item projects__item--header projects__item--header--id">id</div>
        <div class="projects__item projects__item--header projects__item--header--name">name</div>
        <div class="projects__item projects__item--header projects__item--header--locality">locality</div>
        <div class="projects__item projects__item--header projects__item--header--category">category</div>
        <div class="projects__item projects__item--header projects__item--header--image">image</div>
        <div class="projects__item projects__item--header projects__item--header--status">status</div>
        <div class="projects__item projects__item--header projects__item--header--year">year</div>
        <div class="projects__item projects__item--header projects__item--header--delete">delete</div>
        <div class="projects__item projects__item--header projects__item--header--edit">edit</div>
        
       
        {% for p in projects %}
        <div class="projects__item projects__item--checkbox"><input type="checkbox"></div>
        <div class="projects__item projects__item--id">{{p.id}}</div>
        <div class="projects__item projects__item--name">{{p.name}}</div>
        <div class="projects__item projects__item--locality">{{p.locality}}</div>
        <div class="projects__item projects__item--category">{% if p.category_id %}{{p.category.category}}{% endif %}</div>
        <div class="projects__item projects__item--image"><img src="{{p.images.filter_by(thumbnail = 'thumbnail').first()}}" alt=""></div>
        <div class="projects__item projects__item--status">{% if p.status_id %}{{p.status.status}}{% endif %}</div>
        <div class="projects__item projects__item--year">{{p.date|strftime("%B %Y")}}</div>
        <div class="projects__item projects__item--delete">delete</div>
        <div class="projects__item projects__item--edit">edit</div>
        {% endfor %}

    </div>
</div>

{% endblock %}
