@use '../abstracts/' as *;

.contacts {
    background-color: $color-primary;
    color: $color-gray-light-2;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: space-around;
    align-items: center;
    font-family: $font-display;

    &__box {
        display: flex;
        align-items: center;
        gap: .7rem;
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: currentColor;
        // -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
        filter: drop-shadow($shodow-2);
    }

    &__text, &__link:link, &__link:visited {
        color: currentColor;
        transform: translateY(.1rem);
        font-size: 1.5rem;
        // text-decoration: underline;
        text-shadow: $shodow-2;
    }
}