.addin {

    display: flex;
    flex-direction: column;
    align-items: center;

    &__layout {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2rem;            
    }

    &__form {
        margin-top: 2rem;
        width: 95%;
        min-width: 46rem;
        max-width: 116rem;

        padding-bottom: 6rem;
       
        background-color: #fff;
        border-radius: $border-radius;
    }

    &__title {
        grid-column: 1 / 5;
    }

    &__group {

        &--project-name{
            grid-column: 1 / 5;             
        }

        &--address {
            grid-column: 1 / 4; 
        }

        &--locality {
            grid-column: 4 / 5; 
        }

        &--client-ref {
            grid-column: 1 / 2; 
        }


        &--ref {
            grid-column: 2 / 3; 
        }

        &--pa {
            grid-column: 3 / 4; 
        }

        &--status{
            grid-column: 4 / 5; 
        }

        &--category {
            grid-column: 3 / 4; 
        }

        &--images {
            grid-column: 1 / 3; 
            @include respond(br_small_medium) {grid-row: 11 / 12 !important;}
        }

        &--date {
            grid-column: 4 / 5; 
            
        }

        &--content {
            grid-column: 1 / 5; 
        }

    }

    &__btn {
        grid-column: 1 / 5; 
    }
}