.clients {

    &__row {
    
        width: 100%;
        min-width: 150rem;
        height: 100%;        
        display: grid;
        grid-template-columns: 3rem 7.4rem 5rem repeat(5, 12rem) 15rem 18rem minmax(max-content, 1fr) minmax(max-content, 2fr) minmax(max-content, 2fr);
        grid-template-rows: 4rem;
        align-items: center;
        justify-items: stretch;
        text-align: start;  
        z-index: 100;   

        &:not(:last-of-type) {
            border-bottom: 1px solid $col-black;
        }

        &:first-of-type {
            border-bottom: 2px solid $col-black;
        }
        
        
        &:not(:first-of-type) {
            &:hover {
                background-color: $col-bg-b;
            }
        }
    }

    &__shade {
        background-color: $col-bg-g;
        background-color: rgba($col-bg-b, .3);
        
    }

    &__item {
        
        overflow: auto;
        
        color: $col-black;
        border-left: 1px solid $col-gray;

        height: 100%; 
        padding: 0 0 0 1rem;        
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.4rem;
        &::-webkit-scrollbar {
            display: none;
        }
        scrollbar-width: none;  /* Firefox */
        -ms-overflow-style: none;  /* IE and Edge */

        &--id {
            justify-content: center;
            padding: 0;
        }

        a:link, a:visited {
            color: $col-primary-dk;
            i {
                font-size: 1.2rem;
                margin: 0 .3rem;
                cursor: pointer;
                transition: .1 all !important;
                &:hover {
                    color: $col-red;
                }
            }
        }

        &--header {
            text-transform: capitalize;
            font-family: $font-display;
            font-size: 1.6rem;
            font-weight: 400; 
            color: $col-blue;   
 

            &--id{
                display: flex;
                justify-content: center;
                padding: 0;
            }
            
            a, a:visited, a:link {
                text-decoration: none; 
                color: $col-blue;

                &:hover {
                    color: $col-red;
                    & ~ i {
                        color: $col-red;
                    }                    
                }
            }

            i.fa-chevron-down , i.fa-chevron-up {
                margin-left: .8rem;
                font-size: 1.2rem;
                font-weight: 600;
            }
        }

        &--checkbox, &--header--checkbox {
            border-left: none;
            
        }

    }
}

.form-nav {
    
    &__list{
        display: flex;
        list-style: none;
        margin-bottom: 2rem;
        font-size: 1.6rem;
        font-family: $font-display;
        border: 1px $col-primary-dk solid;
        border-radius: $border-radius;        
        width: max-content; 
        

    }
    &__item {
        
        margin: 0 auto;
        padding: .2rem 1.3rem;
        text-justify: center;
        display: inline-block;
        

        &--create, &--export {            
            background-color: $col-aqua;
            transition: all .2s;

            a:link, a:visited {
                color: $col-white;
                text-decoration: none;
            }
            &:hover {
                background-color: $col-aqua-dk; 
            }
        }

        &--delete {
            background-color: $col-red-lt;
            transition: all .2s;

            button {
                cursor: pointer;
                color: $col-white;
                border: none;
                background-color: transparent;
                font-size: 1.6rem;
                font-family: $font-display;
            }
            &:hover {
                background-color: $col-red; 
            }
        }
        
        &:first-of-type {
            color: $col-primary-dk;

        }

        &:not(:first-of-type){
            
            border-left: 1px $col-primary-dk solid;
            cursor: pointer;

        }

    }
    &__option  {
        color: $col-blue;
        border: none;
        font-size: 1.7rem;
        background-color: transparent;

        -webkit-appearance: none;
        -moz-appearance: none;

        &::-ms-expand  {
            display: none;
        }
        &:hover {
            color: $col-red; 
        }

        option {
            color: $col-blue;
        }


    }
}

