@use '../abstracts/' as *;


@keyframes pulsate {
    0% {
        transform: scale(1);
        text-shadow: none;
    }
    50% {
        transform: scale(1.08);
        text-shadow: 0 0 1.5rem rgba(0,0,0, .5);
    }
    100% {
        transform: scale(1);
        text-shadow: none;
    }
}

@keyframes jump {
    0% {
        transform: translateY(0)rotate(-90deg);
        text-shadow: none;
    }
    50% {
        transform: translateY(-5px)rotate(-90deg);
        text-shadow: 0 0 1.5rem rgba(0,0,0, .5);
    }
    100% {
        transform: translateY(0)rotate(-90deg);
        text-shadow: none;
    }
}