<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>MyAdmin</title>
</head>
<body>
    <div class="sign">
        
        
        <form class="sign__form sign__form-in">

            <div class="sign__title">Welcome to <b>My</b>Admin</div>

            <div class="field__group">
                <label class="field__label" for="sign-email">Email</label>
                <div class="field__error">This field is required</div>
                <input type="text" class="field__input" id="sign-email">
            </div>

            <div class="field__group">
                <label class="field__label" for="sign-password">Password</label>
                <div class="field__error">This field is required</div>
                <input type="password" class="field__input" id="sign-password">
                <svg class="sign__icon" id="svg-icon-eye">
                    <use  xlink:href="../static/svg/icomoon.svg#icon-eye-slash"></use>
                </svg>
            </div>

            <div class="field__pair-group">            
                <div class="field__group">                
                    
                    <label class="checkbox-1__label" >
                        <input class="checkbox-1__hidden" type="checkbox">
                        <span  class="checkbox-1__box"></span> 
                        Remember this device
                    </label>

                </div> 

                <div class="field__group">           
                    <a class="sign__forgot" href="#">Forgot your password?</a>
                </div>
            </div>

            
            <button class="btn btn--primary btn--thick btn--100 mt-md">Sign In</button>

            <div class="sign__text">
                
                <p> <span>Create account? <a href="./sign_up.html">SignUp</a>.</span> 
                    <span>&nbsp;Try app as a<a href="#"> Demo </a>user.</span>
                    <span>&nbsp;Just<a href="#"> Visit</a>.</span>
                </p>
                <p class="field__error">Please log in to access this page.</p>
            </div>           

        </form>
    </div>
    <script src="../static/js/ck-editor/ckeditor.js"></script>
    <script src="../static/js/vanillajs-datepicker/datepicker-full.min.js"></script>
    <script src="../static/js/tippy-js/popper.min.js"></script>
    <script src="../static/js/tippy-js/tippy-bundle.umd.min.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>