.header {
    // border: $col-gray-1 .1rem solid;
    width: 100%;
    
    height: 90vh;
    min-height: 50rem;
    max-height: 70rem;

    // background-image saved in mixin: 
    @include header__cover;

    position: relative;
    overflow: visible; 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5rem 0 5rem; 

    @include respond(br_huge) {
        min-height: 50rem;
        max-height: 80rem;
    }

    @include respond(br_medium) {
        max-height: 100%;
        height: 99.4vh;

    }

    &__layout {
        // border: $col-gray-1 .1rem solid;
        width: 100%;
        max-width: $grid-width;
        height: 100%;        

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;


        @include respond(br_medium) {
            align-items: center;

        }  
    }
    
    &__title {
        font-size: 6rem;
        font-weight: 200;
        color: $col-white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
        line-height: 1;

        margin-bottom: 1rem;
        margin-top: 7%;
        max-width: 50%;  
        
        @include respond(br_medium) {
            max-width: 75%;
            text-align: center;
            font-size: 5rem;
        }
        @include respond(br_small) {
            max-width: 75%;
            font-size: 4rem;
        }
        @include respond(br_slim) {
            max-width: 95%;
            font-size: 4rem;
        }
        @include respond(br_tiny) {
   
            font-size: 3.5rem;
        }        
    }

    &__text{
        font-weight: 200;
        color: $col-white;
        font-size: 1.8rem;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
        margin-bottom: 4rem;
        width: 75%;

        @include respond(br_medium) {
            text-align: center;
            width: 95%;

        }
        @include respond(br_tiny) {

        }
    }

    &__btn {
        // display: none !important;

    }
}