.header {
    // border: $col-gray-1 .1rem solid;
    width: 100%;
    
    height: 95vh;

    background-image:  linear-gradient(to right bottom, rgba($col-blue-3, .5), rgba($col-red-1, .2) 70%), url('../images/header/hero_3-1200.jpg');
    background-size: cover; 
    background-position: top;
    background-attachment: fixed;

    position: relative;
    overflow: visible; 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5rem 0 5rem; 

    @include respond(huge) {
        min-height: 50rem;
        max-height: 80rem;
    }

    @include respond(medium) {
        max-height: 100%;
        height: 99.4vh;

    }
    

    
    &__grids {
        // border: $col-gray-1 .1rem solid;
        width: 100%;
        max-width: $grid-width;
        height: 100%;        

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;


        @include respond(medium) {
            align-items: center;

        }

        


   
    }
    
    &__title {
        font-size: 6rem;
        font-weight: 200;
        color: $col-white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
        line-height: 1;

        margin-bottom: 1rem;
        margin-top: 10%;
        max-width: 50%;  
        
        @include respond(medium) {
            max-width: 75%;
            text-align: center;
            font-size: 5rem;
        }
        @include respond(small) {
            max-width: 75%;
            font-size: 4rem;
        }
        @include respond(slim) {
            max-width: 95%;
            font-size: 4rem;
        }
        @include respond(tiny) {
   
            font-size: 3.5rem;
        }


        
    }

    &__text{
        font-weight: 200;
        color: $col-white;
        font-size: 1.8rem;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
        // display: none;
        margin-bottom: 4rem;
        width: 75%;

        @include respond(medium) {
            text-align: center;
            width: 95%;

        }
        @include respond(tiny) {
            // display: none;
            // font-size: 3rem;
        }




    }

    &__btn {
        // display: none !important;




    }
}