.projects {

    background-color: $bg-col-1;
    width: 100%;
    min-height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5rem 5rem 0 5rem;
    
    &__layout {
        width: 100%;
        max-width: $grid-width;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;


        @include respond(br_medium) {
            align-items: center;

        }  
    }
}


.title {
    &__primary {
      font-size: 3.8rem;
      font-family: $font-display;
      font-weight: 200;
      color: $col-black;
      text-transform: uppercase;

      transform: translateX(-.3rem);
    }

    &__text {

        font-family: $font-main;
        font-size: 1.6rem;
        opacity: 0.8;
        font-weight: 300;
        line-height: 1.4;
        letter-spacing: 0.8px;
        color: #333333;
        margin-top: 1rem;
        text-align: justify;
    }
  }